Repository anggasetiawanw/pitik-apps-old, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

Revert "Revert "Develop so""
  components/lib/edit_field/edit_field.dart
  model/lib/internal_app/order_model.dart
  model/lib/internal_app/order_request.dart
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/app.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/main_dev.dart
  pitik_internal_app/lib/main_prod.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_controller.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_internal_app/lib/utils/enum/role.dart
  pitik_internal_app/lib/utils/enum/so_status.dart
  pitik_internal_app/lib/widget/common/list_card_delivery.dart
  pitik_internal_app/lib/widget/common/list_card_order.dart
  pitik_internal_app/lib/widget/common/order_status.dart
  pitik_internal_app/lib/widget/sku_book_so/sku_book_so_controller.dart
  pitik_internal_app/lib/widget/sku_card_order/sku_card_order_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(internal) - disposal new UI
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_approve_activity/terminate_approve.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_approve_activity/terminate_approve_controller.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_rejected_activity/terminate_rejected.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_rejected_activity/terminate_rejected_controller.dart
  pitik_internal_app/lib/utils/route.dart
Owners: @anggasetiawanw

feat(internal) - stock rejected
  pitik_internal_app/lib/ui/stock_module/stock_rejected_activity/stock_rejected.dart
  pitik_internal_app/lib/ui/stock_module/stock_rejected_activity/stock_rejected_controller.dart
  pitik_internal_app/lib/utils/route.dart
Owners: @anggasetiawanw

feat(internal) - Tugas OpsLead
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/api_mapping/list_api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/home/dashboard_activity/dashboard_activity.dart
  pitik_internal_app/lib/ui/home/dashboard_activity/dashboard_controller.dart
  pitik_internal_app/lib/ui/home/job_activity/job_activity.dart
  pitik_internal_app/lib/ui/home/job_activity/job_controller.dart
  pitik_internal_app/lib/ui/home/profile_activity/profile_activity.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_home_activity/manufacture_home_activity.dart
  pitik_internal_app/lib/ui/purchase_module/data_purchase_activity/data_purchase_activity.dart
  pitik_internal_app/lib/ui/sales_module/home_activity/home_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_home_activity/stock_home_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_home_activity/stock_home_controller.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_home_activity/terminate_home_activity.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_home_activity/terminate_home_controller.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_home_activity/transfer_home_activity.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_home_activity/transfer_home_controller.dart
Owners: @anggasetiawanw

feat(internal) - transfer Note
  model/lib/internal_app/transfer_model.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_detail_activity/transfer_detail_activity.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_driver_activity/transfer_driver_activity.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_form_acitivty/transfer_form_activity.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_form_acitivty/transfer_form_controller.dart
  pitik_internal_app/lib/widget/common/list_card_transfer.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(internal) - change version
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

create GR Confirmation Page
  components/lib/edit_area_field/edit_area_field.dart
  components/lib/edit_field/edit_field.dart
  global_variable/pubspec.yaml
  pitik_ppl_app/ios/Podfile.lock
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_activity.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_controller.dart
  pitik_ppl_app/lib/ui/order/list_order_controller.dart
  pitik_ppl_app/lib/ui/splash_screen.dart
  pitik_ppl_app/lib/ui/splash_screen/splash_screen.dart
  pitik_ppl_app/lib/ui/splash_screen/splash_screen_controller.dart
  pitik_ppl_app/lib/ui/transfer/list_transfer_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_request/transfer_request_controller.dart
  pitik_ppl_app/pubspec.lock
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

cerrypick stock
  pitik_internal_app/lib/ui/splash_activity/splash_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_detail_activity/stock_detail_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_home_activity/stock_home_activity.dart
  pitik_internal_app/lib/utils/constant.dart
Owners: @anggasetiawanw

Outbond Done
  components/lib/switch_linear/switch_linar_controller.dart
  components/lib/switch_linear/switch_linear.dart
  model/lib/internal_app/order_model.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix bug stock
  components/lib/expandable/expandable.dart
  global_variable/lib/text_style.dart
  model/lib/internal_app/product_model.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/stock_module/stock_approval_activity/stock_approval.dart
  pitik_internal_app/lib/ui/stock_module/stock_detail_activity/stock_detail_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_rejected_activity/stock_rejected.dart
  pitik_internal_app/lib/ui/stock_module/stock_rejected_activity/stock_rejected_controller.dart
  pitik_internal_app/lib/utils/constant.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

Components Added google and apple login
  common_page/.flutter-plugins
  common_page/.flutter-plugins-dependencies
  components/lib/apple_button/apple_button.dart
  components/lib/google_button/google_button.dart
  components/lib/google_button/google_button_controller.dart
  components/pubspec.yaml
  pitik_internal_app/lib/ui/login/login_activity.dart
  pitik_internal_app/lib/ui/login/login_controller.dart
  pitik_internal_app/lib/ui/sales_module/new_data_activity/new_data_controller.dart
  pitik_internal_app/lib/ui/splash_activity/splash_controller.dart
  pitik_internal_app/lib/widget/common/apple_signin_button.dart
  pitik_internal_app/lib/widget/common/google_signin_button.dart
  pitik_ppl_app/pubspec.lock
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

delivery note so
  global_variable/lib/convert.dart
  pitik_internal_app/lib/app.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_SO/delivery_detail_SO_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_SO/delivery_detail_SO_controller.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_home/delivery_home_activity.dart
  pitik_internal_app/lib/ui/home/job_activity/job_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_form_acitivty/transfer_form_activity.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_form_acitivty/transfer_form_controller.dart
  pitik_internal_app/lib/widget/common/list_card_delivery.dart
  pitik_internal_app/lib/widget/common/list_card_order.dart
Owners: @anggasetiawanw

delivery Transfer
  model/lib/internal_app/transfer_model.dart
  pitik_internal_app/ios/Podfile.lock
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_transfer/delivery_detail_transfer_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_transfer/delivery_detail_transfer_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_detail_activity/stock_detail_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_detail_activity/stock_detail_controller.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_form_acitivty/transfer_form_controller.dart
  pitik_internal_app/pubspec.lock
  pitik_internal_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

Feat(internal) - PO
  model/lib/internal_app/purchase_model.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/purchase_module/detail_purchase_activity/detail_purchase_activity.dart
  pitik_internal_app/lib/ui/purchase_module/detail_purchase_activity/detail_purchase_controller.dart
  pitik_internal_app/lib/ui/purchase_module/edit_data_purchase_activity/edit_data_purchase_activity.dart
  pitik_internal_app/lib/ui/purchase_module/edit_data_purchase_activity/edit_data_purchase_controller.dart
  pitik_internal_app/lib/ui/purchase_module/new_data_purchase_activity/new_data_purchase_activity.dart
  pitik_internal_app/lib/ui/purchase_module/new_data_purchase_activity/new_data_purchase_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/widget/common/list_card_purchase.dart
  pitik_internal_app/lib/widget/sku_book_so/sku_book_so_controller.dart
  pitik_internal_app/lib/widget/sku_card_order/sku_card_order_controller.dart
  pitik_internal_app/lib/widget/sku_card_purchase/sku_card_purchase_controller.dart
  pitik_internal_app/lib/widget/sku_card_purchase_internal/sku_card_purchase_internal_controller.dart
  pitik_internal_app/macos/Podfile.lock
  pitik_internal_app/macos/Runner.xcodeproj/project.pbxproj
  pitik_internal_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  pitik_internal_app/macos/Runner.xcworkspace/contents.xcworkspacedata
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

Feat(Internal) GR
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_transfer/delivery_detail_transfer_activity.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_activity.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_purchase/detail_gr_purchase_activity.dart
  pitik_internal_app/lib/ui/receive_module/new_receive_purchase/create_receive_purchase_jagal.dart
  pitik_internal_app/lib/ui/receive_module/new_receive_purchase/create_receive_purchase_jagal_controller.dart
  pitik_internal_app/lib/ui/receive_module/new_receive_purchase/create_receive_purchase_vendor.dart
  pitik_internal_app/lib/ui/receive_module/new_receive_purchase/create_receive_purchase_vendor_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_opname_activity/stock_opname_controller.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_driver_activity/transfer_driver_activity.dart
Owners: @anggasetiawanw

Bug Fix
  model/lib/internal_app/goods_received_model.dart
  model/lib/internal_app/purchase_model.dart
  pitik_internal_app/lib/ui/receive_module/new_receive_purchase/create_receive_purchase_jagal_controller.dart
  pitik_internal_app/lib/ui/receive_module/new_receive_purchase/create_receive_purchase_vendor_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_opname_activity/stock_opname_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_opname_activity/stock_opname_controller.dart
  pitik_internal_app/lib/widget/common/list_card_purchase.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

changer versi
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

create smart monitor for controller common page
  common_page/lib/smart_controller/detail_smartcontroller_controller.dart
  common_page/lib/smart_controller/monitoring/smart_monitor_controller.dart
  common_page/lib/smart_controller/monitoring/smart_monitor_controller_activity.dart
  common_page/lib/smart_monitor/detail_smartmonitor_activity.dart
  common_page/lib/smart_monitor/detail_smartmonitor_controller.dart
  components/lib/expandable_device/expandable_device.dart
  components/lib/expandable_monitor_real_time/expandable_monitor_real_time.dart
  components/lib/expandable_monitor_real_time/expandable_monitor_real_time_controller.dart
  components/lib/spinner_field/spinner_field.dart
  components/lib/spinner_field/spinner_field_controller.dart
  model/lib/response/latest_condition_response.dart
  model/lib/smart_controller/floor_model.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/smart_controller/smart_controller_list_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

add Spinner in search
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
Owners: @anggasetiawanw

feat(internal) - so filter home
  config.json
  engine/lib/request/service.dart
  pitik_connect/pubspec.lock
  pitik_internal_app/images/outbound_off.svg
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_ppl_app/pubspec.lock
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(internal) - SO Delivery to QA
  model/lib/internal_app/order_model.dart
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_approval_activity/stock_approval.dart
  pitik_internal_app/lib/ui/stock_module/stock_detail_activity/stock_detail_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_rejected_activity/stock_rejected.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(internal) - SO Delivery to QA
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

feat(internal) - Role in profle
  pitik_internal_app/lib/ui/home/profile_activity/profile_activity.dart
Owners: @anggasetiawanw

create smart scale
  common_page/.flutter-plugins
  common_page/.flutter-plugins-dependencies
  common_page/lib/smart_controller/dashboard_fan/dashboard_fan_activity.dart
  common_page/lib/smart_controller/dashboard_lamp/dashboard_lamp_activity.dart
  common_page/lib/smart_controller/monitoring/smart_monitor_controller_activity.dart
  common_page/lib/smart_controller/setup_reset/reset_time_activity.dart
  common_page/lib/smart_monitor/detail_smartmonitor_activity.dart
  common_page/lib/smart_scale/bundle/list_smart_scale_bundle.dart
  common_page/lib/smart_scale/bundle/smart_scale_weighing_bundle.dart
  common_page/lib/smart_scale/detail_smart_scale/detail_smart_scale_activity.dart
  common_page/lib/smart_scale/detail_smart_scale/detail_smart_scale_controller.dart
  common_page/lib/smart_scale/list_smart_scale/list_smart_scale_activity.dart
  common_page/lib/smart_scale/list_smart_scale/list_smart_scale_controller.dart
  common_page/lib/smart_scale/smart_scale_additional_util.dart
  common_page/lib/smart_scale/smart_scale_done_summary.dart
  common_page/lib/smart_scale/weighing_smart_scale/smart_scale_weighing.dart
  common_page/lib/smart_scale/weighing_smart_scale/smart_scale_weighing_controller.dart
  common_page/pubspec.yaml
  components/lib/item_smart_scale_day/item_smart_scale_day.dart
  dao_impl/lib/offline_body/smart_scale_body.dart
  engine/lib/util/list_api.dart
  model/lib/realization_record_model.dart
  model/lib/response/list_smart_scale_response.dart
  model/lib/response/smart_scale_response.dart
  model/lib/scale_value_model.dart
  model/lib/smart_scale/smart_scale_model.dart
  model/lib/smart_scale/smart_scale_record_model.dart
  pitik_ppl_app/lib/api_mapping/api_mapping.dart
  pitik_ppl_app/lib/api_mapping/apis/smart_scale_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/smart_controller/smart_controller_list_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(connect) - missing list api name
  engine/lib/util/list_api.dart
  pitik_connect/ios/Runner/GoogleService-Info.plist
Owners: @dicky512, @mahardhikuncoro15

create smart camera day list page
  common_page/.flutter-plugins
  common_page/.flutter-plugins-dependencies
  common_page/lib/smart_camera/history_detail/smart_camera_history_activity.dart
  common_page/lib/smart_camera/history_detail/smart_camera_history_controller.dart
  common_page/lib/smart_camera/list_history/smart_camera_list_history_activity.dart
  common_page/lib/smart_camera/list_history/smart_camera_list_history_controller.dart
  common_page/lib/smart_camera/take_picture/smart_camera_take_activity.dart
  common_page/lib/smart_camera/take_picture/smart_camera_take_controller.dart
  common_page/lib/smart_scale/weighing_smart_scale/smart_scale_weighing.dart
  common_page/lib/smart_scale/weighing_smart_scale/smart_scale_weighing_controller.dart
  common_page/pubspec.yaml
  engine/lib/imageprocessing/smart_camera_image_processing.dart
  engine/lib/util/list_api.dart
  model/lib/response/smart_camera_day_list_response.dart
  model/lib/smart_camera/smart_camera_day_model.dart
  pitik_connect/lib/ui/detail_smartcamera/detail_smartcamera_activity.dart
  pitik_connect/lib/ui/detail_smartcamera/take_picture_result/take_picture_result_activity.dart
  pitik_ppl_app/lib/api_mapping/api_mapping.dart
  pitik_ppl_app/lib/api_mapping/apis/smart_camera_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_controller.dart
  pitik_ppl_app/lib/ui/smart_camera/smart_camera_list_day_activity.dart
  pitik_ppl_app/lib/ui/smart_camera/smart_camera_list_day_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix()connect) - fix Status bar overlap
  pitik_connect/lib/ui/beranda/beranda_activity.dart
  pitik_connect/lib/ui/dashboard/dashboard_activity.dart
Owners: @mahardhikuncoro15

fix(connect) - safe area home
  pitik_connect/ios/Runner.xcodeproj/project.pbxproj
  pitik_connect/lib/ui/dashboard/dashboard_activity.dart
  pitik_connect/pod
Owners: @mahardhikuncoro15

create smart camera history list page
  common_page/lib/smart_camera/bundle/smart_camera_list_bundle.dart
  common_page/lib/smart_camera/history_detail/smart_camera_history_activity.dart
  common_page/lib/smart_camera/history_detail/smart_camera_history_controller.dart
  common_page/lib/smart_camera/list_history/smart_camera_list_history_activity.dart
  common_page/lib/smart_camera/list_history/smart_camera_list_history_controller.dart
  common_page/lib/smart_camera/take_picture/smart_camera_take_activity.dart
  engine/lib/util/list_api.dart
  model/lib/record_model.dart
  model/lib/sensor_model.dart
  pitik_ppl_app/lib/api_mapping/apis/smart_camera_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/smart_camera/smart_camera_list_day_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(internal) - Bug Phase 3 Internal App
  components/lib/edit_field/edit_field.dart
  engine/lib/util/convert.dart
  global_variable/lib/convert.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_so/delivery_confirm_so_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_SO/delivery_detail_SO_activity.dart
  pitik_internal_app/lib/ui/login/login_activity.dart
  pitik_internal_app/lib/ui/sales_module/new_data_activity/new_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_controller.dart
  pitik_internal_app/lib/widget/sku_card_remark/sku_card_remark_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(con) - fix path api historical camera
  pitik_connect/ios/Runner/GoogleService-Info.plist
  pitik_connect/lib/api_mapping/apis/api.dart
  pitik_connect/lib/main.reflectable.dart
  pitik_connect/lib/ui/detail_smartcamera/historical_data_smartcamera/historical_data_smartcamera_controller.dart
Owners: @mahardhikuncoro15

create smart camera take picture & history detail
  common_page/lib/smart_camera/list_history/smart_camera_list_history_controller.dart
  common_page/lib/smart_camera/take_picture/smart_camera_take_activity.dart
  common_page/lib/smart_camera/take_picture/smart_camera_take_controller.dart
  components/lib/item_take_picture/item_take_picture.dart
  components/lib/item_take_picture/item_take_picture_controller.dart
  pitik_ppl_app/lib/api_mapping/apis/smart_camera_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/smart_camera/smart_camera_list_day_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(internal) - fixing bug so
  components/lib/edit_field/edit_field.dart
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_edit_acitivty/manufacture_edit_controller.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_form_acitivty/manufacture_form_controller.dart
  pitik_internal_app/lib/ui/purchase_module/edit_data_purchase_activity/edit_data_purchase_controller.dart
  pitik_internal_app/lib/ui/purchase_module/new_data_purchase_activity/new_data_purchase_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_home_activity/stock_home_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_opname_activity/stock_opname_controller.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_form_acitivty/terminate_form_controller.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_form_acitivty/transfer_form_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(ppl) - daily report home
  engine/lib/util/list_api.dart
  model/lib/report.dart
  model/lib/response/dailly_report_response.dart
  pitik_ppl_app/Makefile
  pitik_ppl_app/config.json
  pitik_ppl_app/lib/api_mapping/api_mapping.dart
  pitik_ppl_app/lib/api_mapping/apis/task_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_controller.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_activity.dart
  pitik_ppl_app/lib/ui/req_doc_in/req_doc_in_activity.dart
  pitik_ppl_app/lib/utils/enums/daily_report_enum.dart
  pitik_ppl_app/lib/utils/widgets/custom_appbar.dart
  pitik_ppl_app/lib/utils/widgets/status_daily.dart
  pitik_ppl_app/test/widget_test.reflectable.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

deat(ppl) = daily report detail
  engine/lib/util/list_api.dart
  model/lib/report.dart
  model/lib/response/record_response.dart
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_ppl_app/lib/api_mapping/apis/task_api.dart
  pitik_ppl_app/lib/app.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/main_dev.dart
  pitik_ppl_app/lib/main_prod.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_controller.dart
  pitik_ppl_app/lib/utils/widgets/coop_header.dart
  pitik_ppl_app/test/widget_test.reflectable.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(ppl) - detail button
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_activity.dart
Owners: none

fix(internal) - null safety so
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
Owners: @anggasetiawanw

fix(int) - bug product note so
  pitik_internal_app/Makefile
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

fix(internal) - Buglist
  components/lib/edit_field/edit_field.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_so/delivery_confirm_so_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_SO/delivery_detail_SO_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_home/delivery_home_activity.dart
  pitik_internal_app/lib/ui/home/profile_activity/profile_activity.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_detail_activity/manufacture_detail_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_detail_activity/stock_detail_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_opname_activity/stock_opname_controller.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_internal_app/lib/widget/common/list_card_manufacture.dart
  pitik_internal_app/lib/widget/common/list_card_order.dart
  pitik_internal_app/lib/widget/internal_controller_creator.dart
  pitik_internal_app/lib/widget/sku_book_so/sku_book_so.dart
  pitik_internal_app/lib/widget/sku_book_so/sku_book_so_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

create harvest submitted detail
  components/lib/global_var.dart
  engine/lib/util/convert.dart
  engine/lib/util/list_api.dart
  model/lib/harvest_model.dart
  model/lib/response/harvest_detail_response.dart
  model/lib/response/harvest_list_response.dart
  pitik_ppl_app/lib/api_mapping/api_mapping.dart
  pitik_ppl_app/lib/api_mapping/apis/harvest_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_controller.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/detail/harvest_submitted_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/detail/harvest_submitted_detail_controller.dart
  pitik_ppl_app/lib/ui/harvest/list_harvest/harvest_list_activity.dart
  pitik_ppl_app/lib/ui/harvest/list_harvest/harvest_list_controller.dart
  pitik_ppl_app/lib/ui/req_doc_in/req_doc_in_activity.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

.github/CODEOWNERS:

# CODE OWNERS Pitik Mobile

components @dicky512 @mahardhikuncoro15 @anggasetiawanw
dao_impl @dicky512
engine @dicky512
model @dicky512 @mahardhikuncoro15 @anggasetiawanw

pitik_connect @mahardhikuncoro15
pitik_internal_app @anggasetiawanw
