Repository anggasetiawanw/pitik-apps-old, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

.github/CODEOWNERS:

# CODE OWNERS Pitik Mobile

components @dicky512 @mahardhikuncoro15 @anggasetiawanw
dao_impl @dicky512
engine @dicky512
model @dicky512 @mahardhikuncoro15 @anggasetiawanw

pitik_connect @mahardhikuncoro15
pitik_internal_app @anggasetiawanw

Feat(int): so potong utuh
  pitik_connect/pubspec.lock
  pitik_internal_app/android/build.gradle
  pitik_internal_app/ios/Flutter/AppFrameworkInfo.plist
  pitik_internal_app/ios/Podfile
  pitik_internal_app/ios/Podfile.lock
  pitik_internal_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_internal_app/lib/widget/sku_card_order/sku_card_order.dart
  pitik_internal_app/lib/widget/sku_card_order/sku_card_order_controller.dart
  pitik_internal_app/lib/widget/sku_card_remark/sku_card_remark_controller.dart
  pitik_internal_app/macos/Flutter/GeneratedPluginRegistrant.swift
  pitik_internal_app/pubspec.lock
  pitik_internal_app/pubspec.yaml
Owners: @mahardhikuncoro15, @anggasetiawanw

feat(int) : UI Filter GR and PO
  components/lib/date_time_field/datetime_field.dart
  components/lib/date_time_field/datetime_field_controller.dart
  components/lib/search_bar/search_bar.dart
  components/lib/search_bar/search_bar_controller.dart
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/ui/purchase_module/data_purchase_activity/data_purchase_activity.dart
  pitik_internal_app/lib/ui/purchase_module/data_purchase_activity/data_purchase_controller.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_activity.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.purchase.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.sales_order.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.transfer.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.filter.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_internal_app/lib/widget/common/order_status.dart
  pitik_internal_app/lib/widget/sku_card_order/sku_card_order_controller.dart
  pitik_internal_app/lib/widget/sku_card_remark/sku_card_remark_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(int) : change potong utuh to utuh
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_internal_app/lib/widget/sku_card_order/sku_card_order_controller.dart
  pitik_internal_app/lib/widget/sku_card_remark/sku_card_remark_controller.dart
Owners: @anggasetiawanw

fix(int) : typo REGULER to REGULAR
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_internal_app/lib/widget/sku_card_order/sku_card_order_controller.dart
  pitik_internal_app/lib/widget/sku_card_remark/sku_card_remark_controller.dart
Owners: @anggasetiawanw

feat(int) : PO Filter List Done
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/purchase_module/data_purchase_activity/data_purchase_activity.dart
  pitik_internal_app/lib/ui/purchase_module/data_purchase_activity/data_purchase_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_activity.dart
Owners: @anggasetiawanw

fix(int):jenis sumber not shown in po
  pitik_internal_app/lib/ui/purchase_module/data_purchase_activity/data_purchase_controller.dart
Owners: @anggasetiawanw

fix(int): change lib device info deprecated
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.dart
Owners: @anggasetiawanw

fix(int):bekakan in utuh internal so
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/widget/sku_book_so/sku_book_so.dart
  pitik_internal_app/lib/widget/sku_reject_so/sku_reject.dart
Owners: @anggasetiawanw

feat(int) : merge with mix panel
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
Owners: @anggasetiawanw

feat(int):fixing bug jenis potong in detail so and merge with mix panel
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/widget/sku_book_so/sku_book_so.dart
  pitik_internal_app/lib/widget/sku_reject_so/sku_reject.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

feat(int):filter po gr
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/purchase_module/data_purchase_activity/data_purchase_controller.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_activity.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.purchase.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.transfer.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_form_acitivty/transfer_form_controller.dart
Owners: @anggasetiawanw

feat(int):added validation in LB SO total ekor in catatan
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_so/delivery_confirm_so_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_so/delivery_detail_so_activity.dart
  pitik_internal_app/lib/ui/purchase_module/new_data_purchase_activity/new_data_purchase_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_controller.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_internal_app/lib/widget/sku_book_so/sku_book_so.dart
  pitik_internal_app/lib/widget/sku_card_order/sku_card_order_controller.dart
  pitik_internal_app/lib/widget/sku_card_remark/sku_card_remark_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

feat(int): filter transfer in GR
  pitik_internal_app/ios/Podfile.lock
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.purchase.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.transfer.dart
  pitik_ppl_app/pubspec.lock
Owners: @anggasetiawanw

fix(general) : collision location depedencies
  engine/pubspec.yaml
  pitik_connect/pubspec.lock
  pitik_internal_app/android/build.gradle
  pitik_internal_app/ios/Podfile.lock
  pitik_internal_app/macos/Flutter/GeneratedPluginRegistrant.swift
  pitik_internal_app/pubspec.lock
  pitik_internal_app/pubspec.yaml
  pitik_ppl_app/pubspec.lock
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fixing layer
  components/lib/media_field/media_field.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_form/layer_daily_report_form_activity.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_form/layer_daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/dashboard/layer_dashboard/layer_dashboard_controller.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_controller.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_activity.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_controller.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fixing layer - takeout mandatory daily report
  components/lib/edit_area_field/edit_area_field.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_form/layer_daily_report_form_activity.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_form/layer_daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_common.dart
  pitik_ppl_app/lib/ui/harvest/harvest_deal/harvest_deal_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_deal/harvest_deal_detail_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/detail/harvest_realization_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/detail/harvest_realization_detail_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/form/harvest_realization_form_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/detail/harvest_submitted_detail_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/form/harvest_submitted_form_controller.dart
  pitik_ppl_app/lib/ui/harvest/list_harvest/harvest_list_activity.dart
  pitik_ppl_app/lib/ui/harvest/list_harvest/harvest_list_controller.dart
  pitik_ppl_app/lib/ui/order/list_order_activity.dart
  pitik_ppl_app/lib/ui/order/list_order_controller.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
  pitik_ppl_app/lib/ui/transfer/list_transfer_activity.dart
  pitik_ppl_app/lib/ui/transfer/list_transfer_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_common.dart
  pitik_ppl_app/lib/ui/transfer/transfer_detail/transfer_detail_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_request/transfer_request_controller.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

change payload for Pullet In
  model/lib/request_chickin.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_activity.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_controller.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fixing daily report layer
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_detail/layer_daily_report_detail_activity.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_detail/layer_daily_report_detail_controller.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_form/layer_daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_controller.dart
Owners: none

fixing daily report layer
  components/lib/check_box/check_box_field.dart
  engine/lib/util/mapper/mapper.dart
  model/lib/daily_report_revision_model.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_detail/layer_daily_report_detail_controller.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_form/layer_daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_revision/layer_daily_report_revision_activity.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_revision/layer_daily_report_revision_controller.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_activity.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_controller.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(general)- Checkversion
  engine/lib/util/check_version.dart
  engine/pubspec.yaml
  global_variable/lib/strings.dart
  pitik_internal_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_internal_app/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_internal_app/lib/flavors.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
Owners: @dicky512, @anggasetiawanw

resolve(pr)
  engine/lib/util/check_version.dart
Owners: @dicky512

change primary from uom to purchaseUom
  model/lib/chick_type_model.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/adjustment_product/adjustment_product_controller.dart
  pitik_ppl_app/lib/ui/adjustment_product/feed/adjustment_feed_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_detail/layer_daily_report_detail_controller.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_form/layer_daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_revision/layer_daily_report_revision_controller.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_controller.dart
  pitik_ppl_app/lib/ui/order/order_detail/order_detail_controller.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_activity.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_detail/transfer_detail_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_request/transfer_request_controller.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

resolve - as standart
  engine/lib/util/check_version.dart
Owners: @dicky512

fix conflict
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
Owners: @anggasetiawanw

fix conflict - change version pubspec
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

change primary from uom to purchaseUom
  engine/lib/util/intent.dart
Owners: @dicky512

fix(int): bug typo and tujuan in filter GR
  engine/lib/util/gps_util.dart
  pitik_internal_app/lib/main_prod copy.dart
  pitik_internal_app/lib/ui/login/login_controller.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.purchase.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.transfer.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_form_acitivty/transfer_form_controller.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_internal_app/pubspec.yaml
Owners: @dicky512, @anggasetiawanw

Fix(int) : typo in termninate button
  pitik_internal_app/Makefile
  pitik_internal_app/lib/ui/terminate_module/terminate_approve_activity/terminate_approve_controller.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_rejected_activity/terminate_rejected_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

feat(gen): suggest field
  components/lib/suggest_field/suggest_field.dart
  components/lib/suggest_field/suggest_field_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fixing layer
  components/lib/suggest_field/suggest_field.dart
  components/lib/suggest_field/suggest_field_controller.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_detail/layer_daily_report_detail_controller.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_form/layer_daily_report_form_activity.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_form/layer_daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/login/login_controller.dart
  pitik_ppl_app/lib/ui/splash_screen/splash_screen.dart
  pitik_ppl_app/pubspec.lock
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fixing layer
  common_page/lib/profile/change_password/change_pass_activity.dart
  common_page/lib/profile/change_password/change_password_controller.dart
  common_page/lib/profile/forget_password/forget_password_controller.dart
  components/lib/expandable/accordion.dart
  components/lib/expandable/expandable.dart
  components/lib/expandable/expandable_controller.dart
  components/lib/suggest_field/suggest_field.dart
  engine/lib/request/service.dart
  model/lib/report.dart
  pitik_ppl_app/lib/api_mapping/apis/api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/main_dev.dart
  pitik_ppl_app/lib/main_prod.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_detail/layer_daily_report_detail_activity.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_detail/layer_daily_report_detail_controller.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_form/layer_daily_report_form_activity.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_form/layer_daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/login/login_activity.dart
  pitik_ppl_app/lib/ui/login/login_controller.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(internal):bug typo
  pitik_internal_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_internal_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_activity.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/lib/ui/purchase_module/data_purchase_activity/data_purchase_controller.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.purchase.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.inbound.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.outbound.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_approval_activity/stock_approval_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_detail_activity/stock_detail_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_opname_activity/stock_opname_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_rejected_activity/stock_rejected_controller.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_home_activity/transfer_home_activity.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

fix(feat)- prefil bookstock
  pitik_internal_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_internal_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_controller.dart
  pitik_internal_app/lib/widget/sku_book_so/sku_book_so_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

fixing layer
  common_page/lib/register/register_activity.dart
  common_page/lib/register/register_controller.dart
  common_page/lib/smart_controller/detail_smartcontroller_controller.dart
  common_page/pubspec.yaml
  engine/lib/util/bluetooth_le_service.dart
  engine/lib/util/gps_util.dart
  engine/lib/util/list_api.dart
  engine/pubspec.yaml
  pitik_ppl_app/ios/Podfile.lock
  pitik_ppl_app/lib/api_mapping/apis/user_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/main_dev.dart
  pitik_ppl_app/lib/main_prod.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_detail/layer_daily_report_detail_activity.dart
  pitik_ppl_app/lib/ui/login/login_activity.dart
  pitik_ppl_app/lib/ui/smart_controller/smart_controller_list_controller.dart
  pitik_ppl_app/pubspec.lock
  pitik_ppl_app/pubspec.yaml
  pitik_ppl_app/sonar-project.properties
  sonar-project.properties
Owners: @dicky512

fixing smart camera
  common_page/lib/smart_camera/bundle/smart_camera_list_bundle.dart
  common_page/lib/smart_camera/history_detail/smart_camera_history_controller.dart
  common_page/lib/smart_camera/list_history/smart_camera_list_history_activity.dart
  common_page/lib/smart_scale/weighing_smart_scale/smart_scale_weighing_controller.dart
  components/lib/item_historical_smartcamera/item_historical_smartcamera.dart
  components/lib/item_historical_smartcamera/item_historical_smartcamera_controller.dart
  engine/lib/util/list_api.dart
  pitik_ppl_app/lib/api_mapping/apis/smart_camera_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_detail/layer_daily_report_detail_activity.dart
  pitik_ppl_app/lib/ui/dashboard/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/dashboard/farming_dashboard/farming_dashboard_controller.dart
  pitik_ppl_app/lib/ui/smart_camera/smart_camera_list_day_controller.dart
  pitik_ppl_app/pubspec.lock
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(int): release suggest and remove button book stock transfer for sc fleet
  pitik_internal_app/lib/ui/transfer_module/transfer_detail_activity/transfer_detail_activity.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

fixing task ticket
  pitik_ppl_app/lib/ui/dashboard/farming_dashboard/farming_dashboard_controller.dart
  pitik_ppl_app/pubspec.lock
  pitik_ppl_app/pubspec.yaml
Owners: none

fixing harvest
  components/lib/edit_field/edit_field.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_activity.dart
  pitik_ppl_app/lib/ui/daily_report/layer_daily_report_form/layer_daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/detail/harvest_realization_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/form/harvest_realization_form_controller.dart
  pitik_ppl_app/lib/ui/harvest/list_harvest/harvest_list_activity.dart
  pitik_ppl_app/lib/ui/harvest/list_harvest/harvest_list_controller.dart
  pitik_ppl_app/pubspec.lock
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

TK-1924 [Mobile] List data smart camera tidak muncul
  pitik_ppl_app/lib/ui/smart_camera/smart_camera_list_day_controller.dart
  pitik_ppl_app/pubspec.yaml
Owners: none

TK-1924 [Mobile] List data smart camera tidak muncul
  common_page/lib/smart_camera/history_detail/smart_camera_history_controller.dart
  components/lib/item_historical_smartcamera/item_historical_smartcamera_controller.dart
  model/lib/record_model.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw
