Repository anggasetiawanw/pitik-apps-old, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(internal) - sales order inbound duplicate init
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
Owners: @anggasetiawanw

feat(internal) - fix and ci cd dev
  ci_cd_pipeline_dev
  ci_cd_pipeline_prod
  components/lib/spinner_field/spinner_field.dart
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_SO/delivery_detail_SO_activity.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_activity/detail_gr_sales_activity.dart
  pitik_internal_app/lib/ui/receive_module/new_data_receive/create_receive_sales_controller.dart
  pitik_internal_app/lib/ui/sales_module/edit_data_activity/edit_data_controller.dart
  pitik_internal_app/lib/ui/sales_module/new_data_activity/new_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_detail_activity/transfer_detail_activity.dart
  pitik_internal_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(ppl) - form
  engine/lib/util/list_api.dart
  pitik_ppl_app/lib/api_mapping/apis/task_api.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_controller.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_activity.dart
  pitik_ppl_app/lib/ui/req_doc_in/req_doc_in_activity.dart
Owners: @dicky512

feat(internal) - Manufackture Refactor
  model/lib/internal_app/manufacture_model.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_detail_activity/manufacture_detail_activity.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_home_activity/manufacture_home_controller.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_output_activity/manufacture_output_activity.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_output_activity/manufacture_output_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/widget/common/list_card_delivery.dart
  pitik_internal_app/lib/widget/common/list_card_manufacture.dart
  pitik_internal_app/lib/widget/common/list_card_order.dart
  pitik_internal_app/lib/widget/common/list_card_transfer.dart
  pitik_internal_app/lib/widget/sku_card_manufacture/sku_card_purchase_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(manufacture) - Internal app
  pitik_internal_app/Makefile
  pitik_internal_app/lib/ui/manufacture_module/manufacture_detail_activity/manufacture_detail_activity.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_form_acitivty/manufacture_form_controller.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_output_activity/manufacture_output_controller.dart
  pitik_internal_app/lib/widget/common/list_card_stock.dart
  pitik_internal_app/lib/widget/internal_controller_creator.dart
  pitik_internal_app/lib/widget/sku_card_manufacture/sku_card_manufacture.dart
  pitik_internal_app/lib/widget/sku_card_manufacture/sku_card_manufacture_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

remove cached
  common_page/.flutter-plugins
  common_page/.flutter-plugins-dependencies
  pitik_connect/android/app/pitikconnect-keystore.jks
  pitik_connect/android/key.properties
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_so/delivery_detail_SO_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_so/delivery_detail_SO_controller.dart
Owners: @mahardhikuncoro15, @anggasetiawanw

remove cached
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_so/delivery_detail_so_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_so/delivery_detail_so_controller.dart
Owners: @anggasetiawanw

feat(ppl) - daily report
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_controller.dart
Owners: none

feat(ppl) - button edit daily
  engine/lib/util/list_api.dart
  pitik_ppl_app/lib/api_mapping/apis/task_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_activity.dart
  pitik_ppl_app/test/widget_test.reflectable.dart
Owners: @dicky512

create harvest realization
  components/lib/edit_field/edit_field.dart
  components/lib/get_x_creator.dart
  components/lib/global_var.dart
  components/lib/multiple_dynamic_form_field/multiple_dynamic_form_field.dart
  components/lib/multiple_dynamic_form_field/multiple_dynamic_form_field_controller.dart
  engine/lib/util/convert.dart
  engine/lib/util/list_api.dart
  model/lib/adjustment_model.dart
  model/lib/left_over_model.dart
  model/lib/response/left_over_response.dart
  model/lib/transfer_model.dart
  pitik_ppl_app/lib/api_mapping/apis/farm_monitoring_api.dart
  pitik_ppl_app/lib/api_mapping/apis/harvest_api.dart
  pitik_ppl_app/lib/api_mapping/apis/user_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_deal/harvest_deal_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_deal/harvest_deal_detail_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/bundle/harvest_realization_bundle.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/detail/harvest_realization_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/detail/harvest_realization_detail_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/form/harvest_realization_form_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/form/harvest_realization_form_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/detail/harvest_submitted_detail_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/form/harvest_submitted_form_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/form/harvest_submitted_form_controller.dart
  pitik_ppl_app/lib/ui/harvest/list_harvest/harvest_list_activity.dart
  pitik_ppl_app/lib/ui/harvest/list_harvest/harvest_list_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

ppl(notif) - notif
  pitik_ppl_app/lib/api_mapping/apis/api.dart
  pitik_ppl_app/lib/api_mapping/apis/user_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_activity.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/notification/notification_activity.dart
  pitik_ppl_app/lib/ui/notification/notification_controller.dart
  pitik_ppl_app/test/widget_test.reflectable.dart
Owners: none

fix(internal) - typo berita acara pemusnahan
  pitik_internal_app/lib/ui/terminate_module/terminate_approve_activity/terminate_approve.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_detail_activity/terminate_detail_activity.dart
Owners: @anggasetiawanw

create harvest realization
  pitik_ppl_app/ios/Podfile.lock
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/harvest/harvest_deal/harvest_deal_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_deal/harvest_deal_detail_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/detail/harvest_realization_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/form/harvest_realization_form_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/form/harvest_realization_form_controller.dart
  pitik_ppl_app/lib/ui/harvest/list_harvest/harvest_list_controller.dart
  pitik_ppl_app/test/widget_test.reflectable.dart
Owners: none

fixing listener request already done
  engine/lib/request/service.dart
  engine/lib/request/transport/transporter.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/form/harvest_realization_form_controller.dart
Owners: @dicky512

fix(internal) - sku load data
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_internal_app/lib/ui/sales_module/edit_data_activity/edit_data_controller.dart
  pitik_internal_app/lib/ui/sales_module/new_data_activity/new_data_controller.dart
  pitik_internal_app/lib/widget/sku_card/sku_card_controller.dart
Owners: @anggasetiawanw

create deeplink function
  common_page/lib/profile/privacy/privacy_screen_controller.dart
  engine/lib/model/firebase_message_model.dart
  engine/lib/util/deeplink.dart
  engine/lib/util/firebase_config.dart
  engine/lib/util/list_api.dart
  pitik_ppl_app/lib/api_mapping/apis/user_api.dart
  pitik_ppl_app/lib/main.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/main_dev.dart
  pitik_ppl_app/lib/main_prod.dart
  pitik_ppl_app/lib/ui/coop/coop_activity.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_controller.dart
  pitik_ppl_app/lib/ui/login/login_controller.dart
  pitik_ppl_app/lib/ui/splash_screen/splash_screen_controller.dart
  pitik_ppl_app/lib/utils/deeplink_mapping_arguments.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

create deeplink function
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/smart_controller/smart_controller_list_controller.dart
  pitik_ppl_app/lib/ui/splash_screen/splash_screen.dart
  pitik_ppl_app/lib/ui/splash_screen/splash_screen_controller.dart
  pitik_ppl_app/lib/utils/deeplink_mapping_arguments.dart
Owners: none

create checkbox components & modify GR support returned
  components/lib/apple_button/apple_button.dart
  components/lib/check_box/check_box_controller.dart
  components/lib/check_box/check_box_field.dart
  components/lib/get_x_creator.dart
  components/lib/google_button/google_button.dart
  components/lib/google_button/google_button_controller.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_activity.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

adding list api
  engine/lib/util/list_api.dart
Owners: @dicky512

feat(ppl) - notif
  engine/lib/model/string_model.dart
  engine/lib/request/transport/transporter.dart
  engine/lib/util/list_api.dart
  model/lib/notification.dart
  model/lib/response/notification_response.dart
  pitik_ppl_app/images/notification_off_icon.svg
  pitik_ppl_app/ios/Podfile.lock
  pitik_ppl_app/lib/api_mapping/apis/api.dart
  pitik_ppl_app/lib/api_mapping/apis/user_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_activity.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_activity.dart
  pitik_ppl_app/lib/ui/notification/notification_activity.dart
  pitik_ppl_app/lib/ui/notification/notification_controller.dart
  pitik_ppl_app/lib/utils/widgets/custom_appbar.dart
  pitik_ppl_app/test/widget_test.reflectable.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

farm closing on check harvest & mortality
  components/lib/app_bar_form_for_coop.dart
  engine/lib/util/list_api.dart
  model/lib/adjustment_closing.dart
  model/lib/response/adjusment_mortality_response.dart
  pitik_ppl_app/images/bar_point_active_green.svg
  pitik_ppl_app/images/bar_point_active_orange.svg
  pitik_ppl_app/images/bar_point_inactive.svg
  pitik_ppl_app/lib/api_mapping/apis/farm_monitoring_api.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/farm_closing/farm_closing_activity.dart
  pitik_ppl_app/lib/ui/farm_closing/farm_closing_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_common.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/form/harvest_realization_form_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/detail/harvest_submitted_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/form/harvest_submitted_form_controller.dart
  pitik_ppl_app/lib/ui/harvest/list_harvest/harvest_list_activity.dart
  pitik_ppl_app/lib/ui/harvest/list_harvest/harvest_list_controller.dart
  pitik_ppl_app/lib/ui/order/list_order_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

merge
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/test/widget_test.reflectable.dart
Owners: none

merge
  pitik_ppl_app/lib/main.reflectable.dart
Owners: none

fix(internal) - stock wrong load
  components/lib/stock_opname_field/stock_opname_field_controller.dart
  model/lib/internal_app/product_model.dart
  pitik_internal_app/ios/Podfile.lock
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/sales_module/new_data_activity/new_data_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_detail_activity/stock_detail_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_opname_activity/stock_opname_controller.dart
  pitik_internal_app/lib/widget/common/list_card_delivery.dart
  pitik_internal_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(internal) - sc realtion so rule
  pitik_internal_app/lib/api_mapping/list_api.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

show list transfer feed & ovk in farm closing
  engine/lib/util/list_api.dart
  pitik_connect/lib/main.reflectable.dart
  pitik_ppl_app/images/pen_icon.svg
  pitik_ppl_app/ios/Podfile.lock
  pitik_ppl_app/lib/api_mapping/apis/farm_monitoring_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/farm_closing/farm_closing_activity.dart
  pitik_ppl_app/lib/ui/farm_closing/farm_closing_controller.dart
  pitik_ppl_app/lib/ui/transfer/list_transfer_activity.dart
  pitik_ppl_app/lib/ui/transfer/list_transfer_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_common.dart
Owners: @dicky512, @mahardhikuncoro15

fix(con) - Info.plist Edit
  engine/lib/util/convert.dart
  pitik_connect/images/onboarding_1.png
  pitik_connect/images/onboarding_2.png
  pitik_connect/images/onboarding_3.png
  pitik_connect/ios/Podfile.lock
  pitik_connect/ios/Runner/Info.plist
  pitik_connect/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15

fix(con) - update info plist
  engine/lib/util/convert.dart
  global_variable/lib/convert.dart
  pitik_connect/ios/Podfile
  pitik_connect/ios/Podfile.lock
  pitik_connect/ios/Runner/Info.plist
  pitik_connect/pubspec.yaml
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

show list transfer feed & ovk in farm closing
  common_page/lib/smart_monitor/detail_smartmonitor_activity.dart
  common_page/lib/smart_monitor/detail_smartmonitor_controller.dart
  components/lib/app_bar_form_for_coop.dart
  engine/lib/request/transport/body/body_builder.dart
  engine/lib/util/list_api.dart
  pitik_ppl_app/lib/api_mapping/apis/farm_monitoring_api.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/adjustment_product/adjustment_product_activity.dart
  pitik_ppl_app/lib/ui/adjustment_product/adjustment_product_controller.dart
  pitik_ppl_app/lib/ui/adjustment_product/feed/adjustment_feed_activity.dart
  pitik_ppl_app/lib/ui/adjustment_product/feed/adjustment_feed_controller.dart
  pitik_ppl_app/lib/ui/adjustment_product/ovk/adjustment_ovk_activity.dart
  pitik_ppl_app/lib/ui/adjustment_product/ovk/adjustment_ovk_controller.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_controller.dart
  pitik_ppl_app/lib/ui/farm_closing/farm_closing_activity.dart
  pitik_ppl_app/lib/ui/farm_closing/farm_closing_controller.dart
  pitik_ppl_app/lib/ui/harvest/list_harvest/harvest_list_controller.dart
  pitik_ppl_app/lib/ui/req_doc_in/req_doc_in_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_common.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

change safe area
  components/lib/app_bar_form_for_coop.dart
  model/lib/notification.dart
  pitik_ppl_app/lib/app.dart
  pitik_ppl_app/lib/main_dev.dart
  pitik_ppl_app/lib/main_prod.dart
  pitik_ppl_app/lib/ui/adjustment_product/adjustment_product_activity.dart
  pitik_ppl_app/lib/ui/adjustment_product/feed/adjustment_feed_activity.dart
  pitik_ppl_app/lib/ui/adjustment_product/ovk/adjustment_ovk_activity.dart
  pitik_ppl_app/lib/ui/coop/coop_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_activity.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_activity.dart
  pitik_ppl_app/lib/ui/farm_closing/farm_closing_activity.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_deal/harvest_deal_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/detail/harvest_realization_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/form/harvest_realization_form_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/detail/harvest_submitted_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/form/harvest_submitted_form_activity.dart
  pitik_ppl_app/lib/ui/harvest/list_harvest/harvest_list_activity.dart
  pitik_ppl_app/lib/ui/login/login_activity.dart
  pitik_ppl_app/lib/ui/notification/notification_activity.dart
  pitik_ppl_app/lib/ui/order/list_order_activity.dart
  pitik_ppl_app/lib/ui/order/order_detail/order_detail_activity.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_activity.dart
  pitik_ppl_app/lib/ui/req_doc_in/req_doc_in_activity.dart
  pitik_ppl_app/lib/ui/smart_camera/smart_camera_list_day_activity.dart
  pitik_ppl_app/lib/ui/smart_controller/smart_controller_list_activity.dart
  pitik_ppl_app/lib/ui/transfer/list_transfer_activity.dart
  pitik_ppl_app/lib/ui/transfer/transfer_detail/transfer_detail_activity.dart
  pitik_ppl_app/lib/ui/transfer/transfer_request/transfer_request_activity.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(int) - Fix SC relation assigne
  engine/lib/request/service.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_detail_activity/stock_detail_activity.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_detail_activity/terminate_detail_activity.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_detail_activity/transfer_detail_activity.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_detail_activity/transfer_detail_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @dicky512, @anggasetiawanw

fix(int) - SO Sc Relation in allocated
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_home_activity/stock_home_controller.dart
  pitik_internal_app/lib/utils/constant.dart
Owners: @anggasetiawanw

feat(ppl) - read All Notification
  common_page/lib/profile/privacy/privacy_screen_controller.dart
  pitik_ppl_app/ios/Podfile.lock
  pitik_ppl_app/lib/ui/notification/notification_activity.dart
  pitik_ppl_app/lib/ui/notification/notification_controller.dart
Owners: none

dashboard owner app with pagenation
  components/lib/app_bar_form_for_coop.dart
  components/lib/expandable/expandable.dart
  engine/lib/util/list_api.dart
  model/lib/farm_performance_model.dart
  model/lib/response/task_ticket_response.dart
  model/lib/task_ticket_model.dart
  pitik_ppl_app/images/alert_icon.svg
  pitik_ppl_app/ios/Podfile.lock
  pitik_ppl_app/lib/api_mapping/apis/task_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/adjustment_product/ovk/adjustment_ovk_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_activity.dart
  pitik_ppl_app/lib/ui/dashboard/farming_dashboard/farming_dashboard_controller.dart
  pitik_ppl_app/lib/ui/farm_closing/farm_closing_activity.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_activity.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_deal/harvest_deal_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/detail/harvest_realization_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/form/harvest_realization_form_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/detail/harvest_submitted_detail_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/form/harvest_submitted_form_activity.dart
  pitik_ppl_app/lib/ui/harvest/list_harvest/harvest_list_activity.dart
  pitik_ppl_app/lib/ui/order/list_order_activity.dart
  pitik_ppl_app/lib/ui/order/order_detail/order_detail_activity.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_activity.dart
  pitik_ppl_app/lib/ui/smart_controller/smart_controller_list_activity.dart
  pitik_ppl_app/lib/ui/transfer/list_transfer_activity.dart
  pitik_ppl_app/lib/ui/transfer/transfer_detail/transfer_detail_activity.dart
  pitik_ppl_app/lib/ui/transfer/transfer_request/transfer_request_activity.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(internal) - wrong ui stock karkas
  engine/lib/util/firebase_config.dart
  pitik_internal_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_internal_app/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_activity.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/lib/ui/home/profile_activity/profile_activity.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_activity.dart
  pitik_internal_app/lib/ui/sales_module/edit_data_activity/edit_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_home_activity/stock_home_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_home_activity/stock_home_controller.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_approve_activity/terminate_approve.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_detail_activity/terminate_detail_activity.dart
  pitik_internal_app/lib/widget/common/list_card_order.dart
  pitik_internal_app/pubspec.yaml
Owners: @dicky512, @anggasetiawanw

performance actual page
  common_page/lib/farm_performance/actual/farm_performance_actual_activity.dart
  common_page/lib/farm_performance/actual/farm_performance_actual_controller.dart
  common_page/lib/farm_performance/farm_performance_activity.dart
  common_page/lib/farm_performance/farm_performance_controller.dart
  common_page/lib/farm_performance/projection/farm_performance_projection_activity.dart
  common_page/lib/farm_performance/projection/farm_performance_projection_controller.dart
  common_page/lib/history/history_activity.dart
  engine/lib/util/list_api.dart
  model/lib/farm_actual/farm_actual_cycle_model.dart
  model/lib/farm_actual/farm_actual_detail_model.dart
  model/lib/farm_actual/farm_actual_model.dart
  model/lib/farm_actual/farm_actual_target_model.dart
  model/lib/farm_day_history_model.dart
  model/lib/farm_performance_model.dart
  model/lib/farm_projection/farm_projection_component_detail_model.dart
  model/lib/farm_projection/farm_projection_component_model.dart
  model/lib/farm_projection/farm_projection_detail_model.dart
  model/lib/farm_projection/farm_projection_model.dart
  model/lib/response/farm_actual_response.dart
  model/lib/response/farm_day_history_response.dart
  model/lib/response/farm_projection_response.dart
  pitik_ppl_app/lib/api_mapping/apis/farm_monitoring_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/dashboard/farming_dashboard/farming_dashboard_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

performance projection page
  common_page/lib/farm_performance/farm_performance_activity.dart
  common_page/lib/farm_performance/farm_performance_controller.dart
  common_page/lib/smart_camera/take_picture/smart_camera_take_activity.dart
  components/lib/app_bar_form_for_coop.dart
  pitik_ppl_app/lib/ui/dashboard/coop_dashboard/coop_dashboard_activity.dart
  pitik_ppl_app/lib/ui/dashboard/dashboard_common.dart
  pitik_ppl_app/lib/ui/dashboard/farming_dashboard/farming_dashboard_activity.dart
  pitik_ppl_app/lib/ui/dashboard/farming_dashboard/farming_dashboard_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

Fix(internal) - Fixing newline in remark
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_so/delivery_detail_so_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_so/delivery_detail_so_controller.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_transfer/delivery_detail_transfer_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_transfer/delivery_detail_transfer_controller.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_detail_activity/manufacture_detail_activity.dart
  pitik_internal_app/lib/ui/purchase_module/detail_purchase_activity/detail_purchase_activity.dart
  pitik_internal_app/lib/ui/purchase_module/edit_data_purchase_activity/edit_data_purchase_controller.dart
  pitik_internal_app/lib/ui/purchase_module/new_data_purchase_activity/new_data_purchase_controller.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_purchase/detail_gr_purchase_activity.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_transfer/detail_gr_transfer_activity.dart
  pitik_internal_app/lib/ui/receive_module/new_receive_purchase/create_receive_purchase_jagal.dart
  pitik_internal_app/lib/ui/receive_module/new_receive_purchase/create_receive_purchase_jagal_controller.dart
  pitik_internal_app/lib/ui/receive_module/new_receive_purchase/create_receive_purchase_vendor_controller.dart
  pitik_internal_app/lib/ui/receive_module/new_receive_transfer/create_receive_transfer.dart
  pitik_internal_app/lib/ui/sales_module/customer_detail_activity/customer_detail_activity.dart
  pitik_internal_app/lib/ui/sales_module/data_visit_activity/data_visit_controller.dart
  pitik_internal_app/lib/ui/sales_module/detail_visit_activity/detail_visit_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_approve_activity/terminate_approve.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_detail_activity/terminate_detail_activity.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_rejected_activity/terminate_rejected.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_detail_activity/transfer_detail_activity.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_driver_activity/transfer_driver_activity.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_form_acitivty/transfer_form_controller.dart
  pitik_internal_app/lib/widget/sku_card/sku_card.dart
  pitik_internal_app/lib/widget/sku_card_gr/sku_card_gr.dart
  pitik_internal_app/lib/widget/sku_card_manufacture/sku_card_manufacture.dart
  pitik_internal_app/lib/widget/sku_card_order/sku_card_order.dart
  pitik_internal_app/lib/widget/sku_card_purchase/sku_card_purchase.dart
  pitik_internal_app/lib/widget/sku_card_purchase_internal/sku_card_purchase_internal.dart
  pitik_internal_app/lib/widget/sku_card_remark/sku_card_remark.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

change version
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

merge main
  components/lib/password_field/password_field.dart
  components/lib/password_field/password_field_controller.dart
  components/lib/spinner_multi_field/spinner_multi_field.dart
  components/lib/spinner_multi_field/spinner_multi_field_controller.dart
  model/lib/assign_operator.dart
  model/lib/error/error_detail.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/self_registration/add_operator_self_registration/add_operator_self_registration.dart
  pitik_ppl_app/lib/ui/self_registration/add_operator_self_registration/add_operator_self_registration_controller.dart
  pitik_ppl_app/lib/ui/self_registration/dashboard_self_registration/dashboard_self_registration.dart
  pitik_ppl_app/lib/ui/self_registration/dashboard_self_registration/dashboard_self_registration_controller.dart
  pitik_ppl_app/lib/ui/self_registration/task_self_registration/task_self_registration.dart
  pitik_ppl_app/lib/ui/self_registration/task_self_registration/task_self_registration_controller.dart
  pitik_ppl_app/lib/ui/self_registration/task_self_registration/tasl_self_registration_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

.github/CODEOWNERS:

# CODE OWNERS Pitik Mobile

components @dicky512 @mahardhikuncoro15 @anggasetiawanw
dao_impl @dicky512
engine @dicky512
model @dicky512 @mahardhikuncoro15 @anggasetiawanw

pitik_connect @mahardhikuncoro15
pitik_internal_app @anggasetiawanw
