Repository anggasetiawanw/pitik-apps-old, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(ppl)- daily UI
  pitik_ppl_app/images/alarm_warning.svg
  pitik_ppl_app/images/checkbox_circle_green.svg
  pitik_ppl_app/ios/Podfile.lock
  pitik_ppl_app/lib/api_mapping/apis/api.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_activity.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_controller.dart
  pitik_ppl_app/lib/widget/common/status_daily.dart
Owners: none

integrate to app store
  pitik_ppl_app/ios/Podfile.lock
  pitik_ppl_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_ppl_app/ios/Runner/Info.plist
  pitik_ppl_app/ios/Runner/Runner.entitlements
  pitik_ppl_app/ios/config/prod/GoogleService-Info.plist
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/order/list_order_activity.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
Owners: none

feat(so) - inbound
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
Owners: @anggasetiawanw

internal so
  model/lib/internal_app/customer_model.dart
  model/lib/response/ branch_response.dart
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_internal_app/lib/api_mapping/api_mapping.dart
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/api_mapping/list_api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/login/login_activity.dart
  pitik_internal_app/lib/ui/login/login_controller.dart
  pitik_internal_app/lib/ui/sales_module/customer_detail_activity/customer_detail_activity.dart
  pitik_internal_app/lib/ui/sales_module/customer_detail_activity/customer_detail_controller.dart
  pitik_internal_app/lib/ui/sales_module/edit_data_activity/edit_data_activity.dart
  pitik_internal_app/lib/ui/sales_module/edit_data_activity/edit_data_controller.dart
  pitik_internal_app/lib/ui/sales_module/new_data_activity/new_data_activity.dart
  pitik_internal_app/lib/ui/sales_module/new_data_activity/new_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_activity.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix ios flag internal
  pitik_internal_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_internal_app/lib/api_mapping/list_api.dart
  pitik_internal_app/lib/ui/login/login_activity.dart
  pitik_internal_app/lib/ui/login/login_controller.dart
Owners: @anggasetiawanw

fix ios flag internal
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

send order request data to server
  components/lib/spinner_field/spinner_field_controller.dart
  components/lib/suggest_field/suggest_field.dart
  components/lib/suggest_field/suggest_field_controller.dart
  model/Makefile
  model/lib/procurement_model.dart
  model/lib/procurement_request_model.dart
  pitik_ppl_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_ppl_app/lib/main.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/order/list_order_controller.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(cust) - Customer
  pitik_internal_app/lib/api_mapping/list_api.dart
Owners: @anggasetiawanw

edit order
  components/lib/app_bar_form_for_coop.dart
  components/lib/global_var.dart
  components/lib/spinner_field/spinner_field.dart
  components/lib/spinner_field/spinner_field_controller.dart
  components/lib/suggest_field/suggest_field_controller.dart
  engine/lib/util/list_api.dart
  model/lib/procurement_model.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/main.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/order/list_order_controller.dart
  pitik_ppl_app/lib/ui/order/order_detail/order_detail_activity.dart
  pitik_ppl_app/lib/ui/order/order_detail/order_detail_controller.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

add main.reflectable.dart
  pitik_ppl_app/lib/main.reflectable.dart
Owners: none

develop approve, cancel, and reject order
  components/lib/edit_area_field/edit_area_field.dart
  components/lib/edit_area_field/edit_area_field_controller.dart
  components/lib/get_x_creator.dart
  pitik_ppl_app/images/information_orange_icon.gif
  pitik_ppl_app/ios/Podfile.lock
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_activity.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_activity.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_controller.dart
  pitik_ppl_app/lib/ui/order/list_order_activity.dart
  pitik_ppl_app/lib/ui/order/list_order_controller.dart
  pitik_ppl_app/lib/ui/order/order_detail/order_detail_activity.dart
  pitik_ppl_app/lib/ui/order/order_detail/order_detail_controller.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
  pitik_ppl_app/lib/ui/req_doc_in/req_doc_in_activity.dart
  pitik_ppl_app/lib/ui/req_doc_in/req_doc_in_controller.dart
  pitik_ppl_app/lib/ui/transaction_success_activity.dart
  pitik_ppl_app/pubspec.lock
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

Feat(internal) - SO Filter and Change Branch User
  model/lib/profile.dart
  pitik_internal_app/images/branch_icon.svg
  pitik_internal_app/images/filter_line.svg
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/api_mapping/list_api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/lib/ui/home/profile_activity/change_branch/change_branch.dart
  pitik_internal_app/lib/ui/home/profile_activity/change_branch/change_branch_controller.dart
  pitik_internal_app/lib/ui/home/profile_activity/profile_activity.dart
  pitik_internal_app/lib/ui/sales_module/edit_data_activity/edit_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_form_acitivty/transfer_form_controller.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_internal_app/lib/utils/route.dart
  pitik_internal_app/lib/widget/common/custom_appbar.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(internal) - So Filter
  global_variable/lib/colors.dart
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/widget/sku_card_remark/sku_card_remark_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

added login by apple Internal
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-1024x1024@1x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-20x20@1x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-20x20@2x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-20x20@3x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-29x29@1x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-29x29@2x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-29x29@3x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-40x40@1x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-40x40@2x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-40x40@3x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-60x60@2x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-60x60@3x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-76x76@1x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-76x76@2x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  pitik_internal_app/ios/Runner/Info.plist
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/api_mapping/apis/user_api.dart
  pitik_internal_app/lib/api_mapping/list_api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/home/profile_activity/change_branch/change_branch_controller.dart
  pitik_internal_app/lib/ui/login/login_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

fix bug sales lead in get branch
  pitik_internal_app/Makefile
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/home/profile_activity/change_branch/change_branch_controller.dart
  pitik_internal_app/lib/ui/sales_module/edit_data_activity/edit_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

feat(internal) - List Order
  model/lib/internal_app/order_model.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/widget/common/list_card_delivery.dart
  pitik_internal_app/lib/widget/common/list_card_order.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(internal) - List Order
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
Owners: @anggasetiawanw

Change Branch
  pitik_internal_app/lib/ui/home/profile_activity/change_branch/change_branch_controller.dart
  pitik_internal_app/lib/ui/sales_module/edit_data_activity/edit_data_controller.dart
Owners: @anggasetiawanw

feat(internal) sales lead branch
  pitik_internal_app/lib/ui/home/profile_activity/change_branch/change_branch_controller.dart
  pitik_internal_app/lib/ui/sales_module/edit_data_activity/edit_data_controller.dart
Owners: @anggasetiawanw

feat(internal) - Fixing some bug
  components/lib/edit_field/edit_field.dart
  components/lib/edit_field_two_row/edit_field_two_row.dart
  components/lib/stock_opname_field/stock_opname_field_controller.dart
  components/lib/stock_opname_two_field/stock_opname_two_field_controller.dart
  pitik_internal_app/ios/Runner/Info.plist
  pitik_internal_app/lib/ui/home/profile_activity/change_branch/change_branch_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/splash_activity/splash_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_opname_activity/stock_opname_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(internal) - typo in filter So
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
Owners: @anggasetiawanw

fix(internal) - fix so filter efMax
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
Owners: @anggasetiawanw

fix(internal) - typo and clear order pull
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
Owners: @anggasetiawanw

add developer option
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/lib/ui/home/profile_activity/developer/developer_activity.dart
  pitik_internal_app/lib/ui/home/profile_activity/profile_activity.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_internal_app/lib/utils/route.dart
Owners: @anggasetiawanw

add developer option
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

merge with main
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/widget/sku_card_order/sku_card_order_controller.dart
Owners: @anggasetiawanw

fix crashlitycs
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/widget/common/list_card_delivery.dart
  pitik_internal_app/lib/widget/sku_card_purchase_internal/sku_card_purchase_internal_controller.dart
Owners: @anggasetiawanw

crate outbond
  components/lib/edit_field/edit_field.dart
  model/lib/internal_app/order_request.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/widget/sku_card_order/sku_card_order_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

remore orelse
  pitik_internal_app/lib/ui/sales_module/data_visit_activity/data_visit_controller.dart
  pitik_internal_app/lib/ui/sales_module/edit_data_activity/edit_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver_controller.dart
  pitik_internal_app/lib/widget/sku_card_purchase_internal/sku_card_purchase_internal_controller.dart
Owners: @anggasetiawanw

create outbond
  pitik_internal_app/lib/app.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
Owners: @anggasetiawanw

develop transfer list, detail, and form
  components/lib/media_field/media_field.dart
  components/lib/spinner_field/spinner_field.dart
  components/lib/spinner_field/spinner_field_controller.dart
  engine/lib/util/list_api.dart
  model/lib/procurement_model.dart
  model/lib/response/stock_summary_response.dart
  model/lib/stock_summary_model.dart
  pitik_ppl_app/ios/Runner/Info.plist
  pitik_ppl_app/lib/api_mapping/apis/api.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_controller.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
  pitik_ppl_app/lib/ui/transfer/list_transfer_activity.dart
  pitik_ppl_app/lib/ui/transfer/list_transfer_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_detail/transfer_detail_activity.dart
  pitik_ppl_app/lib/ui/transfer/transfer_detail/transfer_detail_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_request/transfer_request_activity.dart
  pitik_ppl_app/lib/ui/transfer/transfer_request/transfer_request_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(internal) - OUTBOUNT Story
  model/lib/internal_app/order_model.dart
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_controller.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_internal_app/lib/utils/enum/role.dart
  pitik_internal_app/lib/utils/enum/so_status.dart
  pitik_internal_app/lib/widget/common/list_card_order.dart
  pitik_internal_app/lib/widget/common/order_status.dart
  pitik_internal_app/lib/widget/sku_book_so/sku_book_so_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(internal) - chucker button developer in prod
  pitik_internal_app/lib/main_dev.dart
  pitik_internal_app/lib/main_prod.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
Owners: @anggasetiawanw

feat(internal) - chucker button developer in prod
  pitik_internal_app/lib/main_dev.dart
Owners: @anggasetiawanw

Revert "Develop so"
  components/lib/edit_field/edit_field.dart
  model/lib/internal_app/order_model.dart
  model/lib/internal_app/order_request.dart
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/app.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/main_dev.dart
  pitik_internal_app/lib/main_prod.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_controller.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_internal_app/lib/utils/enum/role.dart
  pitik_internal_app/lib/utils/enum/so_status.dart
  pitik_internal_app/lib/widget/common/list_card_delivery.dart
  pitik_internal_app/lib/widget/common/list_card_order.dart
  pitik_internal_app/lib/widget/common/order_status.dart
  pitik_internal_app/lib/widget/sku_book_so/sku_book_so_controller.dart
  pitik_internal_app/lib/widget/sku_card_order/sku_card_order_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

develop transfer list, detail, and form
  components/lib/media_field/media_field.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_detail/transfer_detail_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_request/transfer_request_activity.dart
  pitik_ppl_app/lib/ui/transfer/transfer_request/transfer_request_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

create GR Confirmation Page
  engine/lib/util/list_api.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_activity.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_controller.dart
  pitik_ppl_app/lib/ui/order/list_order_controller.dart
  pitik_ppl_app/lib/ui/order/order_detail/order_detail_controller.dart
  pitik_ppl_app/lib/ui/transaction_success_activity.dart
  pitik_ppl_app/lib/ui/transfer/list_transfer_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_detail/transfer_detail_controller.dart
Owners: @dicky512

feat(internal) - Stock Opname Develop
  pitik_internal_app/images/approve_image.svg
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_approval_activity/stock_approval.dart
  pitik_internal_app/lib/ui/stock_module/stock_approval_activity/stock_approval_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_opname_activity/stock_opname_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_opname_activity/stock_opname_controller.dart
  pitik_internal_app/lib/utils/constant.dart
  pitik_internal_app/lib/utils/route.dart
  pitik_internal_app/lib/widget/common/list_card_stock.dart
Owners: @anggasetiawanw

feat(internal) - modified Component
  components/lib/spinner_multi_field/spinner_multi_field.dart
  components/lib/stock_opname_field/stock_opname_field.dart
  components/lib/stock_opname_field/stock_opname_field_controller.dart
  model/lib/internal_app/opname_model.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(internal) - disposal
  components/lib/spinner_field/spinner_field.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_form_acitivty/terminate_form_activity.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_form_acitivty/terminate_form_controller.dart
  pitik_internal_app/lib/widget/common/list_card_terminate.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

.github/CODEOWNERS:

# CODE OWNERS Pitik Mobile

components @dicky512 @mahardhikuncoro15 @anggasetiawanw
dao_impl @dicky512
engine @dicky512
model @dicky512 @mahardhikuncoro15 @anggasetiawanw

pitik_connect @mahardhikuncoro15
pitik_internal_app @anggasetiawanw
