Repository anggasetiawanw/pitik-apps-old, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(FO) - Adding Lapor issue and Self Registration
  .editorconfig
  common_page/lib/profile/profile_activity.dart
  components/lib/expandable/expandable.dart
  engine/lib/util/list_api.dart
  model/lib/issue.dart
  pitik_ppl_app/images/issue_not_found.png
  pitik_ppl_app/images/issue_not_found.svg
  pitik_ppl_app/images/user-add-line.svg
  pitik_ppl_app/lib/api_mapping/apis/api.dart
  pitik_ppl_app/lib/api_mapping/apis/user_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/dashboard/dashboard_common.dart
  pitik_ppl_app/lib/ui/dashboard/farming_dashboard/farming_dashboard_activity.dart
  pitik_ppl_app/lib/ui/dashboard/farming_dashboard/farming_dashboard_controller.dart
  pitik_ppl_app/lib/ui/issue_report/issue_report_data/issue_report_data.dart
  pitik_ppl_app/lib/ui/issue_report/issue_report_data/issue_report_data_controller.dart
  pitik_ppl_app/lib/ui/issue_report/issue_report_form/issue_report_form.dart
  pitik_ppl_app/lib/ui/issue_report/issue_report_form/issue_report_form_controller.dart
  pitik_ppl_app/lib/ui/self_registration/dashboard_self_registration/dashboard_self_registration_controller.dart
  pitik_ppl_app/test/widget_test.reflectable.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix bug start date if null in self registration
  pitik_ppl_app/lib/ui/dashboard/farming_dashboard/farming_dashboard_controller.dart
  pitik_ppl_app/lib/ui/self_registration/add_operator_self_registration/add_operator_self_registration.dart
  pitik_ppl_app/lib/ui/self_registration/task_self_registration/task_self_registration.dart
Owners: none

setting deeplink for owner app
  pitik_ppl_app/lib/ui/dashboard/farming_dashboard/farming_dashboard_controller.dart
  pitik_ppl_app/lib/utils/deeplink_mapping_arguments.dart
Owners: none

handling returned GR
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_controller.dart
  pitik_ppl_app/lib/utils/widgets/coop_header.dart
  pitik_ppl_app/pubspec.lock
  pitik_ppl_app/pubspec.yaml
Owners: none

feat(int) - add crashlytics in gps timeout
  engine/lib/util/location_permission.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_so/delivery_confirm_so_controller.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_transer/delivery_confirm_transfer_controller.dart
  pitik_internal_app/lib/ui/sales_module/data_visit_activity/data_visit_controller.dart
Owners: @dicky512, @anggasetiawanw

fix(ppl-app) - fix daily report
  pitik_ppl_app/ios/Podfile.lock
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/dashboard/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_request/transfer_request_controller.dart
Owners: none

create smart scale harvest
  common_page/lib/smart_scale/bundle/smart_scale_weighing_bundle.dart
  common_page/lib/smart_scale/smart_scale_additional_util.dart
  common_page/lib/smart_scale/smart_scale_done_summary.dart
  common_page/lib/smart_scale/weighing_smart_scale/smart_scale_weighing.dart
  common_page/lib/smart_scale/weighing_smart_scale/smart_scale_weighing_controller.dart
  engine/lib/util/convert.dart
  engine/lib/util/list_api.dart
  model/lib/harvest_model.dart
  pitik_ppl_app/lib/api_mapping/apis/harvest_api.dart
  pitik_ppl_app/lib/api_mapping/apis/smart_scale_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/dashboard/dashboard_common.dart
  pitik_ppl_app/lib/ui/dashboard/farming_dashboard/farming_dashboard_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_common.dart
  pitik_ppl_app/lib/ui/smart_scale_harvest/detail/smart_scale_harvest_detail_activity.dart
  pitik_ppl_app/lib/ui/smart_scale_harvest/detail/smart_scale_harvest_detail_controller.dart
  pitik_ppl_app/lib/ui/smart_scale_harvest/form/smart_scale_harvest_form_activity.dart
  pitik_ppl_app/lib/ui/smart_scale_harvest/form/smart_scale_harvest_form_controller.dart
  pitik_ppl_app/lib/ui/smart_scale_harvest/list/smart_scale_harvest_list_activity.dart
  pitik_ppl_app/lib/ui/smart_scale_harvest/list/smart_scale_harvest_list_controller.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(int) - data visit change price
  components/lib/spinner_field/spinner_field_controller.dart
  components/lib/spinner_multi_field/spinner_multi_field.dart
  pitik_internal_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_internal_app/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_internal_app/lib/ui/sales_module/data_visit_activity/data_visit_activity.dart
  pitik_internal_app/lib/ui/sales_module/data_visit_activity/data_visit_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

create PDF
  pitik_ppl_app/lib/ui/smart_scale_harvest/detail/smart_scale_harvest_detail_activity.dart
  pitik_ppl_app/lib/ui/smart_scale_harvest/detail/smart_scale_harvest_detail_controller.dart
  pitik_ppl_app/lib/ui/smart_scale_harvest/list/smart_scale_harvest_list_controller.dart
  pitik_ppl_app/pubspec.lock
  pitik_ppl_app/pubspec.yaml
Owners: none

fixing bug doc-in and daily report
  common_page/lib/smart_scale/weighing_smart_scale/smart_scale_weighing.dart
  common_page/lib/smart_scale/weighing_smart_scale/smart_scale_weighing_controller.dart
  components/lib/date_time_field/datetime_field.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_activity.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_controller.dart
  pitik_ppl_app/lib/ui/smart_scale_harvest/list/smart_scale_harvest_list_controller.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(int) - mix pembelian
  pitik_internal_app/lib/flavors.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_activity.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/lib/ui/home/profile_activity/change_branch/change_branch_controller.dart
  pitik_internal_app/lib/ui/home/profile_activity/profile_activity.dart
Owners: @anggasetiawanw

fixing order
  components/lib/multiple_form_field/multiple_form_field.dart
  components/lib/suggest_field/suggest_field_controller.dart
  engine/lib/util/convert.dart
  engine/lib/util/gps_util.dart
  engine/pubspec.yaml
  pitik_ppl_app/ios/Podfile.lock
  pitik_ppl_app/lib/main_dev.dart
  pitik_ppl_app/lib/main_prod.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/dashboard/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/dashboard/dashboard_common.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_controller.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_activity.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_controller.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
  pitik_ppl_app/pubspec.lock
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

add(components)
  components/lib/search_bar/search_bar.dart
  components/lib/search_bar/search_bar_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

add getxcreator searchBar
  components/lib/get_x_creator.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(components)
  components/lib/search_bar/search_bar.dart
  components/lib/search_bar/search_bar_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fixing transfer
  components/lib/check_box/check_box_field.dart
  components/lib/spinner_field/spinner_field_controller.dart
  engine/pubspec.yaml
  pitik_ppl_app/android/app/build.gradle
  pitik_ppl_app/images/people_confirm_icon.svg
  pitik_ppl_app/ios/Flutter/devDebug.xcconfig
  pitik_ppl_app/ios/Flutter/devProfile.xcconfig
  pitik_ppl_app/ios/Flutter/devRelease.xcconfig
  pitik_ppl_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_ppl_app/ios/Runner/GoogleService-Info.plist
  pitik_ppl_app/lib/flavors.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/farm_closing/farm_closing_controller.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_activity.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_common.dart
  pitik_ppl_app/lib/ui/login/login_controller.dart
  pitik_ppl_app/lib/ui/req_doc_in/req_doc_in_controller.dart
  pitik_ppl_app/lib/ui/transfer/list_transfer_activity.dart
  pitik_ppl_app/lib/ui/transfer/transfer_request/transfer_request_controller.dart
  pitik_ppl_app/pubspec.lock
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

location off
  engine/lib/util/gps_util.dart
  pitik_ppl_app/android/build.gradle
  pitik_ppl_app/lib/main_dev.dart
  pitik_ppl_app/lib/main_prod.dart
  pitik_ppl_app/pubspec.lock
Owners: @dicky512

fixing harvest
  pitik_ppl_app/ios/Flutter/AppFrameworkInfo.plist
  pitik_ppl_app/ios/Podfile
  pitik_ppl_app/ios/Podfile.lock
  pitik_ppl_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_ppl_app/ios/Runner/GoogleService-Info.plist
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/form/harvest_submitted_form_activity.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/form/harvest_submitted_form_controller.dart
  pitik_ppl_app/pubspec.lock
Owners: none

update version
  pitik_ppl_app/pubspec.yaml
Owners: none

check DOC-in
  pitik_ppl_app/lib/ui/doc_in/doc_in_controller.dart
Owners: none

feat(int) - internal App Phase 4
  components/lib/date_time_field/datetime_field.dart
  model/lib/internal_app/sales_person_model.dart
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_so/delivery_confirm_so_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_so/delivery_confirm_so_controller.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_so/delivery_detail_so_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_so/delivery_detail_so_controller.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_return_so/delivery_return_activity.dart
  pitik_internal_app/lib/ui/home/profile_activity/profile_activity.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_activity/detail_gr_sales_activity.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_activity/detail_gr_sales_controller.dart
  pitik_internal_app/lib/ui/receive_module/new_data_receive/create_receive_sales.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.filter.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.inbound.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.outbound.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/widget/common/list_card_order.dart
  pitik_internal_app/lib/widget/common/order_status.dart
  pitik_internal_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(int) - sales order status in penjualan and pengiriman
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_so/delivery_confirm_so_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_so/delivery_confirm_so_controller.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_so/delivery_detail_so_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_so/delivery_detail_so_controller.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_activity.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_activity/detail_gr_sales_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_controller.dart
  pitik_internal_app/lib/widget/common/order_status.dart
Owners: @anggasetiawanw

mix panel internal app
  components/lib/global_var.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_activity.dart
  pitik_internal_app/lib/ui/purchase_module/data_purchase_activity/data_purchase_activity.dart
  pitik_internal_app/lib/ui/purchase_module/data_purchase_activity/data_purchase_controller.dart
  pitik_internal_app/lib/ui/purchase_module/detail_purchase_activity/detail_purchase_controller.dart
  pitik_internal_app/lib/ui/purchase_module/edit_data_purchase_activity/edit_data_purchase_activity.dart
  pitik_internal_app/lib/ui/purchase_module/edit_data_purchase_activity/edit_data_purchase_controller.dart
  pitik_internal_app/lib/ui/purchase_module/new_data_purchase_activity/new_data_purchase_activity.dart
  pitik_internal_app/lib/ui/purchase_module/new_data_purchase_activity/new_data_purchase_controller.dart
  pitik_internal_app/lib/ui/receive_module/data_receive_activity/data_receive_controller.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_activity/detail_gr_sales_controller.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_purchase/detail_gr_purchase_controller.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_transfer/detail_gr_transfer_activity.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_transfer/detail_gr_transfer_controller.dart
  pitik_internal_app/lib/ui/receive_module/new_data_receive/create_receive_sales_controller.dart
  pitik_internal_app/lib/ui/receive_module/new_receive_purchase/create_receive_purchase_jagal_controller.dart
  pitik_internal_app/lib/ui/receive_module/new_receive_purchase/create_receive_purchase_vendor_controller.dart
  pitik_internal_app/lib/ui/receive_module/new_receive_transfer/create_receive_transfer_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.outbound.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(int): sku return
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_so/delivery_confirm_so_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_so/delivery_detail_so_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/lib/widget/sku_card_gr/sku_card_gr_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

fixing ppl app
  components/lib/global_var.dart
  components/lib/search_bar/search_bar.dart
  components/lib/search_bar/search_bar_controller.dart
  model/lib/coop_model.dart
  pitik_ppl_app/images/bw_icon.svg
  pitik_ppl_app/images/chicken_icon.svg
  pitik_ppl_app/images/egg_icon.svg
  pitik_ppl_app/images/feed_intake_icon.svg
  pitik_ppl_app/images/hdp_icon.svg
  pitik_ppl_app/images/ip_icon.svg
  pitik_ppl_app/lib/api_mapping/apis/coop_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop/coop_activity.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_activity.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_controller.dart
  pitik_ppl_app/lib/ui/req_doc_in/req_doc_in_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_request/transfer_request_controller.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(internal): penerimaan batal infinte
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_so/delivery_confirm_so_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_so/delivery_detail_so_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_transfer/delivery_detail_transfer_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_transfer/delivery_detail_transfer_controller.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_transfer/detail_gr_transfer_activity.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_transfer/detail_gr_transfer_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver.dart
  pitik_internal_app/lib/ui/sales_order_module/new_assign_to_driver/assign_driver_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
Owners: @anggasetiawanw

fix(int):overflow card manufaktur
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_internal_app/lib/widget/common/list_card_manufacture.dart
Owners: @anggasetiawanw

feat(int):mix panel so
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
Owners: @anggasetiawanw

fixing back on empty state & create form pullet in
  model/lib/request_chickin.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_controller.dart
  pitik_ppl_app/lib/ui/farm_closing/farm_closing_controller.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_realization/form/harvest_realization_form_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/detail/harvest_submitted_detail_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/form/harvest_submitted_form_controller.dart
  pitik_ppl_app/lib/ui/order/order_detail/order_detail_controller.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_activity.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_controller.dart
  pitik_ppl_app/lib/ui/smart_scale_harvest/form/smart_scale_harvest_form_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_detail/transfer_detail_controller.dart
  pitik_ppl_app/lib/ui/transfer/transfer_request/transfer_request_controller.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fixing https://pitik.atlassian.net/browse/TK-1862
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_activity.dart
  pitik_ppl_app/lib/ui/transfer/transfer_request/transfer_request_controller.dart
Owners: none

fix(int): string fixed 2 total kg in book stock SO
  model/lib/internal_app/order_model.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_detail_activity/manufacture_detail_activity.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_activity/detail_gr_sales_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_home_activity/stock_home_activity.dart
  pitik_internal_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

git merge internal app phase 4 into mix panel
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_internal_app/lib/ui/sales_order_module/edit_data_sales_order/edit_data_sales_order_controller.dart
Owners: @anggasetiawanw

fix(int): cant login in app distri pre-prod
  pitik_internal_app/android/app/src/main/AndroidManifest.xml
  pitik_internal_app/android/app/src/prod/google-services.json
  pitik_internal_app/lib/ui/login/login_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

feat(int) : Mix Panel Done
  pitik_internal_app/lib/api_mapping/list_api.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_so/delivery_confirm_so_controller.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_transer/delivery_confirm_transfer_controller.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_so/delivery_detail_so_controller.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_transfer/delivery_detail_transfer_controller.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_home/delivery_home_controller.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_return_so/delivert_return_controller.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_detail_activity/manufacture_detail_activity.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_detail_activity/manufacture_detail_controller.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_edit_acitivty/manufacture_edit_activity.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_edit_acitivty/manufacture_edit_controller.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_form_acitivty/manufacture_form_activity.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_form_acitivty/manufacture_form_controller.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_home_activity/manufacture_home_controller.dart
  pitik_internal_app/lib/ui/manufacture_module/manufacture_output_activity/manufacture_output_controller.dart
  pitik_internal_app/lib/ui/sales_module/customer_detail_activity/customer_detail_controller.dart
  pitik_internal_app/lib/ui/sales_module/data_visit_activity/data_visit_controller.dart
  pitik_internal_app/lib/ui/sales_module/detail_visit_activity/detail_visit_controller.dart
  pitik_internal_app/lib/ui/sales_module/edit_data_activity/edit_data_controller.dart
  pitik_internal_app/lib/ui/sales_module/home_activity/home_activity.dart
  pitik_internal_app/lib/ui/sales_module/home_activity/home_controller.dart
  pitik_internal_app/lib/ui/sales_module/new_data_activity/new_data_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_approval_activity/stock_approval_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_detail_activity/stock_detail_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_home_activity/stock_home_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_opname_activity/stock_opname_activity.dart
  pitik_internal_app/lib/ui/stock_module/stock_opname_activity/stock_opname_controller.dart
  pitik_internal_app/lib/ui/stock_module/stock_rejected_activity/stock_rejected_controller.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_approve_activity/terminate_approve_controller.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_detail_activity/terminate_detail_controller.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_form_acitivty/terminate_form_activity.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_form_acitivty/terminate_form_controller.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_home_activity/terminate_home_controller.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_rejected_activity/terminate_rejected_controller.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_detail_activity/transfer_detail_controller.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_driver_activity/transfer_driver_controller.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_form_acitivty/transfer_form_activity.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_form_acitivty/transfer_form_controller.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_home_activity/transfer_home_controller.dart
Owners: @anggasetiawanw

feat(int): Internal App Enchanment
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

fixing share doc in and pullet in
  common_page/lib/history/performance/performance_activity.dart
  common_page/lib/transaction_success_activity.dart
  components/lib/multiple_dynamic_form_field/multiple_dynamic_form_field_controller.dart
  model/lib/chick_type_model.dart
  model/lib/request_chickin.dart
  pitik_ppl_app/images/share_white_icon.svg
  pitik_ppl_app/lib/api_mapping/apis/task_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/dashboard/coop_dashboard/coop_dashboard_activity.dart
  pitik_ppl_app/lib/ui/dashboard/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/dashboard/farming_dashboard/farming_dashboard_activity.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_controller.dart
  pitik_ppl_app/lib/ui/gr_confirmation/gr_confirmation_controller.dart
  pitik_ppl_app/lib/ui/harvest/harvest_submitted/form/harvest_submitted_form_controller.dart
  pitik_ppl_app/lib/ui/notification/notification_activity.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_activity.dart
  pitik_ppl_app/lib/ui/pullet_in/pullet_in_controller.dart
  pitik_ppl_app/lib/ui/req_doc_in/req_doc_in_activity.dart
  pitik_ppl_app/lib/ui/req_doc_in/req_doc_in_controller.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

merge from main
  engine/test/engine_test.reflectable.reflectable.dart
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  pitik_ppl_app/android/app/src/main/res/mipmap-hdpi/launcher_icon.png
  pitik_ppl_app/android/app/src/main/res/mipmap-mdpi/launcher_icon.png
  pitik_ppl_app/android/app/src/main/res/mipmap-xhdpi/launcher_icon.png
  pitik_ppl_app/android/app/src/main/res/mipmap-xxhdpi/launcher_icon.png
  pitik_ppl_app/android/app/src/main/res/mipmap-xxxhdpi/launcher_icon.png
  pitik_ppl_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  pitik_ppl_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  pitik_ppl_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  pitik_ppl_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  pitik_ppl_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  pitik_ppl_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
Owners: @dicky512, @mahardhikuncoro15

feat(int):sc realtion assgin driver
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.outbound.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_detail/detail_sales_order_activity.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

mix panel on
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

feat(int):notification list
  pitik_internal_app/ios/Podfile.lock
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_internal_app/lib/app.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_activity.dart
  pitik_internal_app/lib/ui/notification/notification_activity.dart
  pitik_internal_app/lib/ui/notification/notification_controller.dart
  pitik_internal_app/lib/utils/route.dart
  pitik_internal_app/lib/widget/common/custom_appbar.dart
  pitik_internal_app/macos/Flutter/GeneratedPluginRegistrant.swift
  pitik_internal_app/pubspec.lock
Owners: @anggasetiawanw

.github/CODEOWNERS:

# CODE OWNERS Pitik Mobile

components @dicky512 @mahardhikuncoro15 @anggasetiawanw
dao_impl @dicky512
engine @dicky512
model @dicky512 @mahardhikuncoro15 @anggasetiawanw

pitik_connect @mahardhikuncoro15
pitik_internal_app @anggasetiawanw
