Repository anggasetiawanw/pitik-apps-old, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

.github/CODEOWNERS:

# CODE OWNERS Pitik Mobile

components @dicky512 @mahardhikuncoro15 @anggasetiawanw
dao_impl @dicky512
engine @dicky512
model @dicky512 @mahardhikuncoro15 @anggasetiawanw

pitik_connect @mahardhikuncoro15
pitik_internal_app @anggasetiawanw

add menu on home page and monitor page
  common_page/lib/profile/profile_activity.dart
  common_page/lib/smart_monitor/detail_smartmonitor_activity.dart
  common_page/lib/smart_monitor/detail_smartmonitor_controller.dart
  model/lib/engine_library.dart
  model/lib/smart_scale/smart_scale_model.dart
  pitik_ppl_app/android/app/src/main/AndroidManifest.xml
  pitik_ppl_app/images/alert_red_icon.png
  pitik_ppl_app/images/card_lazy.gif
  pitik_ppl_app/images/empty_document_icon.svg
  pitik_ppl_app/images/harvest_icon.svg
  pitik_ppl_app/images/notes_icon.svg
  pitik_ppl_app/images/record_icon.svg
  pitik_ppl_app/images/report_check_icon.svg
  pitik_ppl_app/images/report_icon.svg
  pitik_ppl_app/images/smart_controller_icon.svg
  pitik_ppl_app/images/smart_scale_icon.svg
  pitik_ppl_app/images/transfer_icon.svg
  pitik_ppl_app/lib/api_mapping/apis/api.dart
  pitik_ppl_app/lib/api_mapping/apis/smart_monitoring_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop/coop_activity.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_activity.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

add api mapping
  pitik_ppl_app/lib/api_mapping/api_mapping.dart
  pitik_ppl_app/lib/api_mapping/apis/api.dart
  pitik_ppl_app/lib/api_mapping/apis/smart_scale_api.dart
  pitik_ppl_app/lib/api_mapping/apis/user_api.dart
  pitik_ppl_app/lib/main.dart
  pitik_ppl_app/lib/main_dev.dart
  pitik_ppl_app/lib/main_prod.dart
Owners: none

add menu on home page and monitor page
  engine/lib/util/updater_code_magic.dart
  pitik_ppl_app/lib/ui/splash_screen.dart
Owners: @dicky512

feat(cd) - update with notif
  pitik_internal_app/lib/ui/splash_activity/splash_controller.dart
Owners: @anggasetiawanw

Feat(CD) - Notif
  pitik_internal_app/lib/ui/splash_activity/splash_activity.dart
  pitik_internal_app/lib/utils/route.dart
Owners: @anggasetiawanw

add menu on home page and monitor page
  common_page/.flutter-plugins-dependencies
  common_page/lib/history/harvest/harvest_activity.dart
  common_page/lib/history/harvest/harvest_controller.dart
  common_page/lib/history/history_activity.dart
  common_page/lib/history/history_controller.dart
  common_page/lib/history/performance/performance_activity.dart
  common_page/lib/history/performance/performance_controller.dart
  common_page/lib/history/sapronak/sapronak_activity.dart
  common_page/lib/history/sapronak/sapronak_controller.dart
  engine/lib/util/updater_code_magic.dart
  engine/pubspec.yaml
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/splash_screen.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512

add table field and create harvest page
  common_page/lib/history/harvest/harvest_activity.dart
  common_page/lib/history/harvest/harvest_controller.dart
  common_page/lib/history/history_activity.dart
  common_page/lib/history/history_controller.dart
  common_page/lib/history/performance/performance_controller.dart
  components/lib/get_x_creator.dart
  components/lib/table_field/table_field.dart
  components/lib/table_field/table_field_controller.dart
  engine/lib/util/array_util.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(cd) - change time
  pitik_internal_app/lib/ui/splash_activity/splash_activity.dart
  pitik_internal_app/lib/ui/splash_activity/splash_controller.dart
Owners: @anggasetiawanw

add sapronak data
  common_page/lib/history/harvest/harvest_controller.dart
  common_page/lib/history/history_activity.dart
  common_page/lib/history/history_controller.dart
  common_page/lib/history/performance/performance_activity.dart
  common_page/lib/history/performance/performance_controller.dart
  common_page/lib/history/sapronak/sapronak_activity.dart
  common_page/lib/history/sapronak/sapronak_controller.dart
  components/lib/spinner_field/spinner_field.dart
  components/lib/table_field/table_field.dart
  engine/lib/util/list_api.dart
  model/lib/response/sapronak_response.dart
  model/lib/sapronak_model.dart
  pitik_ppl_app/images/graph_icon.svg
  pitik_ppl_app/images/table_icon.svg
  pitik_ppl_app/lib/api_mapping/api_mapping.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/api_mapping/apis/user_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_activity.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

add performance detail page and integrate API to harvest
  common_page/lib/history/harvest/harvest_activity.dart
  common_page/lib/history/harvest/harvest_controller.dart
  common_page/lib/history/history_activity.dart
  common_page/lib/history/history_controller.dart
  common_page/lib/history/performance/performance_activity.dart
  common_page/lib/history/performance/performance_controller.dart
  common_page/lib/history/sapronak/sapronak_activity.dart
  components/lib/global_var.dart
  components/lib/spinner_field/spinner_field.dart
  engine/lib/util/list_api.dart
  model/lib/additional_request_realization_model.dart
  model/lib/consumption.dart
  model/lib/coop_active_standard.dart
  model/lib/coop_performance.dart
  model/lib/realization_model.dart
  model/lib/realization_record_model.dart
  model/lib/response/date_monitoring_response.dart
  model/lib/response/monitoring_detail_response.dart
  model/lib/response/monitoring_response.dart
  model/lib/response/realization_response.dart
  model/lib/scale_value_model.dart
  pitik_ppl_app/lib/api_mapping/api_mapping.dart
  pitik_ppl_app/lib/api_mapping/apis/api.dart
  pitik_ppl_app/lib/api_mapping/apis/farm_monitoring_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(ios) - setup config Google play service ios
  pitik_internal_app/Makefile
  pitik_internal_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_internal_app/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  pitik_internal_app/ios/config/dev/GoogleService-Info.plist
  pitik_internal_app/ios/config/prod/GoogleService-Info.plist
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
Owners: @anggasetiawanw

fixing listener internet connection
  components/lib/global_var.dart
  engine/lib/util/internet_connection.dart
  pitik_connect/lib/app.dart
  pitik_ppl_app/Makefile
  pitik_ppl_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_ppl_app/ios/Runner/config/dev/GoogleService-Info.plist
  pitik_ppl_app/ios/Runner/config/prod/GoogleService-Info.plist
  pitik_ppl_app/lib/flavors.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fixing listener internet_connection.dart
  engine/lib/util/internet_connection.dart
Owners: @dicky512

add performance detail page and integrate API to harvest
  common_page/.flutter-plugins-dependencies
  common_page/lib/history/history_activity.dart
  pitik_ppl_app/ios/Podfile
  pitik_ppl_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_ppl_app/ios/Runner.xcworkspace/contents.xcworkspacedata
  pitik_ppl_app/ios/config/dev/GoogleService-Info.plist
  pitik_ppl_app/ios/config/prod/GoogleService-Info.plist
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_activity.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
Owners: none

+ Some Improvement on device controller
  components/lib/item_take_picture/item_take_picture.dart
  components/lib/item_take_picture/item_take_picture_controller.dart
  components/lib/time_picker/time_picker_field.dart
  engine/lib/util/list_api.dart
  model/lib/response/fan_detail_response.dart
  pitik_connect/lib/api_mapping/apis/api.dart
  pitik_connect/lib/main.reflectable.dart
  pitik_connect/lib/ui/beranda/beranda_controller.dart
  pitik_connect/lib/ui/dashboard_device/dashboard_device_controller.dart
  pitik_connect/lib/ui/dashboard_fan/dahsboard_fan_activity.dart
  pitik_connect/lib/ui/dashboard_fan/dashboard_fan_controller.dart
  pitik_connect/lib/ui/dashboard_lamp/dashboard_lamp_controller.dart
  pitik_connect/lib/ui/detail_smartcamera/detail_smartcamera_controller.dart
  pitik_connect/lib/ui/detail_smartcamera/historical_data_smartcamera/historical_data_smartcamera_controller.dart
  pitik_connect/lib/ui/detail_smartcontroller/detail_smartcontroller_activity.dart
  pitik_connect/lib/ui/detail_smartcontroller/detail_smartcontroller_controller.dart
  pitik_connect/lib/ui/detail_smartmonitor/detail_smartmonitor_controller.dart
  pitik_connect/lib/ui/login/login_controller.dart
  pitik_connect/lib/ui/modify_device/modify_device_controller.dart
  pitik_connect/lib/ui/profile/change_password/change_password_controller.dart
  pitik_connect/lib/ui/profile/profile_activity.dart
  pitik_connect/lib/ui/register_coop/register_coop_controller.dart
  pitik_connect/lib/ui/register_device/register_device_controller.dart
  pitik_connect/lib/ui/register_floor/register_floor_controller.dart
  pitik_connect/lib/ui/setup_alarm/alarm_setup_controller.dart
  pitik_connect/lib/ui/setup_cooler/cooler_setup_controller.dart
  pitik_connect/lib/ui/setup_fan/fan_setup_activity.dart
  pitik_connect/lib/ui/setup_fan/fan_setup_controller.dart
  pitik_connect/lib/ui/setup_growth/growth_setup_controller.dart
  pitik_connect/lib/ui/setup_heater/heater_setup_activity.dart
  pitik_connect/lib/ui/setup_heater/heater_setup_controller.dart
  pitik_connect/lib/ui/setup_lamp/lamp_setup_controller.dart
  pitik_connect/lib/ui/setup_reset/reset_time_controller.dart
  pitik_connect/lib/ui/smartscale/detail_smart_scale/detail_smart_scale_controller.dart
  pitik_connect/lib/ui/smartscale/list_smart_scale/list_smart_scale_controller.dart
  pitik_connect/lib/ui/smartscale/weighing_smart_scale/smart_scale_weighing_controller.dart
  pitik_connect/pubspec.lock
  pitik_connect/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

create list order page
  components/lib/global_var.dart
  engine/lib/util/list_api.dart
  model/lib/good_receipt_model.dart
  model/lib/procurement_model.dart
  model/lib/product_model.dart
  model/lib/response/procurement_detail_response.dart
  model/lib/response/procurement_list_response.dart
  pitik_connect/pubspec.lock
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/order/list_order_activity.dart
  pitik_ppl_app/lib/ui/order/list_order_controller.dart
  pitik_ppl_app/lib/ui/order/order_detail/order_detail_activity.dart
  pitik_ppl_app/lib/ui/order/order_detail/order_detail_controller.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_activity.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

create list order page & test smart monitor
  common_page/lib/history/history_activity.dart
  common_page/lib/history/performance/performance_activity.dart
  common_page/lib/history/performance/performance_controller.dart
  common_page/lib/smart_monitor/detail_smartmonitor_activity.dart
  common_page/lib/smart_monitor/detail_smartmonitor_controller.dart
  components/lib/expandable_monitor_real_time/expandable_monitor_real_time.dart
  components/lib/expandable_monitor_real_time/expandable_monitor_real_time_controller.dart
  components/lib/get_x_creator.dart
  components/lib/graph_view/graph_view.dart
  components/lib/spinner_field/spinner_field.dart
  components/lib/spinner_field/spinner_field_controller.dart
  engine/lib/util/list_api.dart
  model/lib/building_model.dart
  model/lib/response/building_response.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/api_mapping/apis/smart_monitoring_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/login/login_controller.dart
  pitik_ppl_app/lib/ui/order/list_order_activity.dart
  pitik_ppl_app/lib/ui/order/list_order_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

+ Improvement load image url using scheduler
  components/lib/item_take_picture/item_take_picture.dart
  components/lib/item_take_picture/item_take_picture_controller.dart
  pitik_connect/Makefile
  pitik_connect/images/bc_image.png
  pitik_connect/lib/ui/smartscale/list_smart_scale/list_smart_scale_controller.dart
  pitik_connect/lib/ui/smartscale/weighing_smart_scale/smart_scale_weighing_controller.dart
  pitik_connect/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(ppl) - doc in
  components/lib/edit_field/edit_field.dart
  components/lib/global_var.dart
  components/lib/media_field/media_field.dart
  engine/lib/util/list_api.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

+ Remove permission Read SMS
  components/lib/item_take_picture/item_take_picture.dart
  components/lib/item_take_picture/item_take_picture_controller.dart
  pitik_connect/lib/ui/beranda/beranda_controller.dart
  pitik_connect/lib/ui/splash/splash_activity.dart
  pitik_connect/pubspec.lock
  pitik_connect/pubspec.yaml
  pitik_ppl_app/lib/ui/splash_screen.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix monitor page & list order page
  common_page/lib/smart_monitor/detail_smartmonitor_controller.dart
  components/lib/expandable_monitor_real_time/expandable_monitor_real_time.dart
  components/lib/expandable_monitor_real_time/expandable_monitor_real_time_controller.dart
  components/lib/graph_view/graph_view.dart
  components/lib/spinner_field/spinner_field.dart
  engine/lib/util/list_api.dart
  model/lib/response/sensor_position_response.dart
  model/lib/sensor_model.dart
  pitik_ppl_app/images/sensor_mapping.svg
  pitik_ppl_app/lib/api_mapping/apis/smart_monitoring_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/order/list_order_activity.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(ppl) - add Request DOCin
  components/lib/date_time_field/datetime_field.dart
  components/lib/media_field/media_field.dart
  components/lib/media_field/media_field_controller.dart
  engine/lib/util/list_api.dart
  model/lib/product_model.dart
  model/lib/request_chickin.dart
  model/lib/response/request_chickin_response.dart
  pitik_connect/images/calendar-line.svg
  pitik_internal_app/images/calendar-line.svg
  pitik_ppl_app/Makefile
  pitik_ppl_app/android/app/src/main/AndroidManifest.xml
  pitik_ppl_app/images/calendar-line.svg
  pitik_ppl_app/lib/api_mapping/api_mapping.dart
  pitik_ppl_app/lib/api_mapping/apis/api.dart
  pitik_ppl_app/lib/api_mapping/apis/coop_api.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/main.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_activity.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_controller.dart
  pitik_ppl_app/lib/widget/common/custom_appbar.dart
  pitik_ppl_app/test/widget_test.reflectable.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix monitor page & list order page
  components/lib/app_bar_form_for_coop.dart
  components/lib/button_fill/button_fill.dart
  components/lib/edit_field/edit_field.dart
  components/lib/get_x_creator.dart
  components/lib/multiple_form_field/multiple_form_field.dart
  components/lib/multiple_form_field/multiple_form_field_controller.dart
  engine/lib/util/list_api.dart
  model/lib/response/products_response.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/order/list_order_activity.dart
  pitik_ppl_app/lib/ui/order/list_order_controller.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_activity.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

add component MultiFormField for order feed and ovk
  components/lib/app_bar_form_for_coop.dart
  components/lib/custom_dialog.dart
  components/lib/multiple_form_field/multiple_form_field.dart
  components/lib/multiple_form_field/multiple_form_field_controller.dart
  components/lib/suggest_field/suggest_field.dart
  components/lib/suggest_field/suggest_field_controller.dart
  model/lib/product_model.dart
  pitik_ppl_app/ios/Podfile.lock
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/boarding_activity.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_activity.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/doc_in/doc_in_activity.dart
  pitik_ppl_app/lib/ui/login/login_controller.dart
  pitik_ppl_app/lib/ui/order/list_order_activity.dart
  pitik_ppl_app/lib/ui/order/list_order_controller.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_activity.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
  pitik_ppl_app/test/widget_test.reflectable.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(ppl) - Request DOC)
  components/lib/button_fill/button_fill.dart
  components/lib/date_time_field/datetime_field.dart
  components/lib/edit_field/edit_field.dart
  engine/lib/util/list_api.dart
  model/lib/approval_request.dart
  model/lib/response/approval_doc_response.dart
  pitik_connect/images/calendar-line-off.svg
  pitik_internal_app/images/calendar-line-off.svg
  pitik_ppl_app/images/calendar-line-off.svg
  pitik_ppl_app/lib/api_mapping/api_mapping.dart
  pitik_ppl_app/lib/api_mapping/apis/api.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_activity.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/req_doc_in/req_doc_in_activity.dart
  pitik_ppl_app/lib/ui/req_doc_in/req_doc_in_controller.dart
  pitik_ppl_app/lib/widget/common/custom_appbar.dart
  pitik_ppl_app/test/widget_test.reflectable.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

create order form
  components/lib/edit_field/edit_field.dart
  components/lib/edit_field/edit_field_controller.dart
  components/lib/spinner_field/spinner_field.dart
  components/lib/suggest_field/suggest_field.dart
  engine/lib/util/list_api.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_activity.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

create order form and fixing multiple_form_field.dart & suggest_field.dart
  components/lib/get_x_creator.dart
  components/lib/multiple_form_field/multiple_form_field.dart
  components/lib/suggest_field/suggest_field.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/ui/order/list_order_activity.dart
  pitik_ppl_app/lib/ui/order/list_order_controller.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_activity.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

merge from main
  common_page/lib/history/harvest/harvest_controller.dart
  common_page/lib/profile/change_password/change_pass_activity.dart
  common_page/lib/profile/change_password/change_password_controller.dart
  common_page/lib/profile/forget_password/forget_password_activity.dart
  components/lib/button_fill/button_fill.dart
  model/pubspec.yaml
  pitik_connect/lib/ui/onboarding/on_boarding_activity.dart
  pitik_connect/lib/ui/profile/change_password/change_pass_activity.dart
  pitik_connect/lib/ui/profile/forget_password/forget_password_activity.dart
  pitik_ppl_app/Makefile
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
  pitik_ppl_app/test/widget_test.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

make gen
  common_page/.flutter-plugins-dependencies
  pitik_ppl_app/Makefile
  pitik_ppl_app/lib/ui/req_doc_in/req_doc_in_controller.dart
  pitik_ppl_app/test/widget_test.dart
  pitik_ppl_app/test/widget_test.reflectable.dart
Owners: none

add make gen-packages
  common_page/.flutter-plugins
  common_page/.flutter-plugins-dependencies
  common_page/Makefile
  common_page/lib/history/harvest/harvest_controller.dart
  common_page/lib/history/performance/performance_activity.dart
  common_page/lib/history/performance/performance_controller.dart
  common_page/lib/history/sapronak/sapronak_activity.dart
  common_page/lib/history/sapronak/sapronak_controller.dart
  common_page/lib/profile/change_password/change_pass_activity.dart
  common_page/lib/profile/change_password/change_password_controller.dart
  common_page/lib/smart_monitor/detail_smartmonitor_controller.dart
  common_page/pubspec.yaml
  components/lib/app_bar_form_for_coop.dart
  components/lib/custom_dialog.dart
  components/lib/edit_field_two_row/edit_field_two_row.dart
  components/lib/expandable_monitor_real_time/expandable_monitor_real_time_controller.dart
  components/lib/stock_opname_field/stock_opname_field_controller.dart
  pitik_ppl_app/lib/api_mapping/apis/api.dart
  pitik_ppl_app/lib/api_mapping/apis/coop_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_activity.dart
  pitik_ppl_app/pubspec.lock
  pitik_ppl_app/test/widget_test.reflectable.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fixing main.dart
  common_page/.flutter-plugins-dependencies
  pitik_ppl_app/lib/api_mapping/apis/coop_api.dart
  pitik_ppl_app/lib/main.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_activity.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
  pitik_ppl_app/test/widget_test.reflectable.dart
Owners: none

fixing order form
  pitik_ppl_app/lib/ui/order/order_request/order_request_activity.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
Owners: none

create summary bottom sheet in order request
  engine/lib/util/list_api.dart
  pitik_ppl_app/lib/api_mapping/apis/product_report_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/order/list_order_activity.dart
  pitik_ppl_app/lib/ui/order/order_request/order_request_controller.dart
Owners: @dicky512

+ Smart Camera Scheduler (Fix capture abu)
  components/lib/item_take_picture/item_take_picture_controller.dart
  pitik_connect/android/app/src/main/AndroidManifest.xml
  pitik_connect/images/wifi_off_icon.svg
  pitik_connect/lib/ui/beranda/beranda_controller.dart
  pitik_connect/lib/ui/dashboard_lamp/dahsboard_lamp_activity.dart
  pitik_connect/lib/ui/detail_smartcamera/historical_data_smartcamera/historical_data_smartcamera_activity.dart
  pitik_connect/lib/ui/detail_smartcamera/take_picture_result/take_picture_result_activity.dart
  pitik_connect/lib/ui/setup_growth/growth_setup_controller.dart
  pitik_connect/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

+ Fixing wording connection 500 and some typo
  engine/lib/request/transport/transporter.dart
  pitik_connect/lib/ui/modify_device/modify_device_controller.dart
  pitik_connect/lib/ui/register_device/register_device_controller.dart
Owners: @dicky512, @mahardhikuncoro15

feat(customer) - customer can edit pic sales by sales lead (AB-2447)
  components/lib/spinner_field/spinner_field.dart
  global_variable/lib/strings.dart
  pitik_internal_app/android/app/src/prod/res/mipmap-hdpi/ic_launcher.png
  pitik_internal_app/android/app/src/prod/res/mipmap-mdpi/ic_launcher.png
  pitik_internal_app/android/app/src/prod/res/mipmap-xhdpi/ic_launcher.png
  pitik_internal_app/android/app/src/prod/res/mipmap-xxhdpi/ic_launcher.png
  pitik_internal_app/android/app/src/prod/res/mipmap-xxxhdpi/ic_launcher.png
  pitik_internal_app/images/launcher_pitik.png
  pitik_internal_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-1024x1024@1x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-20x20@1x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-20x20@2x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-20x20@3x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-29x29@1x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-29x29@2x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-29x29@3x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-40x40@1x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-40x40@2x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-40x40@3x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-60x60@2x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-60x60@3x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-76x76@1x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-76x76@2x.png
  pitik_internal_app/ios/Runner/Assets.xcassets/devAppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_internal_app/ios/Runner/Info.plist
  pitik_internal_app/lib/main_prod.dart
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/lib/ui/sales_module/edit_data_activity/edit_data_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(so) - home adding option in and out
  pitik_internal_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_internal_app/ios/Runner/GoogleService-Info.plist
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_activity.dart
  pitik_internal_app/lib/ui/sales_order_module/sales_order_data/sales_order_data_controller.dart
Owners: @anggasetiawanw

feat(so) - home adding option in and out
  pitik_internal_app/images/icon_inbound.svg
  pitik_internal_app/images/icon_outbound.svg
Owners: @anggasetiawanw

merge development
  common_page/.flutter-plugins
  common_page/.flutter-plugins-dependencies
  common_page/.gitignore
  pitik_ppl_app/lib/main.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_detail/daily_report_detail_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_controller.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_home/daily_report_home_controller.dart
Owners: none

feat(ppl) - daily report form ui
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_activity.dart
  pitik_ppl_app/lib/ui/daily_report/daily_report_form/daily_report_form_controller.dart
Owners: none
