Repository anggasetiawanw/pitik-apps-old, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

.github/CODEOWNERS:

# CODE OWNERS Pitik Mobile

components @dicky512 @mahardhikuncoro15 @anggasetiawanw
dao_impl @dicky512
engine @dicky512
model @dicky512 @mahardhikuncoro15 @anggasetiawanw

pitik_connect @mahardhikuncoro15
pitik_internal_app @anggasetiawanw

+ Integration library
  components/pubspec.yaml
  engine/pubspec.yaml
  pitik_connect/lib/main.reflectable.dart
  pitik_connect/pubspec.lock
  pitik_connect/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

clean pubspec
  pitik_connect/lib/ui/smartscale/weighing_smart_scale/smart_scale_weighing_controller.dart
Owners: @mahardhikuncoro15

+ Add roomId as param query on historucal and detail data smart camera
  engine/lib/util/list_api.dart
  pitik_connect/lib/main.reflectable.dart
  pitik_connect/lib/ui/detail_smartcamera/detail_smartcamera_controller.dart
  pitik_connect/lib/ui/detail_smartcamera/historical_data_smartcamera/historical_data_smartcamera_controller.dart
  pitik_connect/pubspec.lock
  pitik_connect/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15

smart scale full development
  components/lib/button_outline/button_outline.dart
  components/lib/custom_dialog.dart
  components/lib/global_var.dart
  components/lib/listener/custom_dialog_listener.dart
  components/lib/stock_opname_field/stock_opname_field_controller.dart
  dao_impl/lib/offline_body/smart_scale_body.dart
  dao_impl/lib/smart_scale_impl.dart
  model/lib/engine_library.dart
  model/lib/smart_scale/smart_scale_model.dart
  pitik_connect/images/check_orange_icon.gif
  pitik_connect/images/copy_orange_icon.svg
  pitik_connect/lib/main.reflectable.dart
  pitik_connect/lib/route.dart
  pitik_connect/lib/ui/dashboard/dashboard_controller.dart
  pitik_connect/lib/ui/smartscale/detail_smart_scale/detail_smart_scale_activity.dart
  pitik_connect/lib/ui/smartscale/detail_smart_scale/detail_smart_scale_controller.dart
  pitik_connect/lib/ui/smartscale/list_smart_scale/list_smart_scale_activity.dart
  pitik_connect/lib/ui/smartscale/list_smart_scale/list_smart_scale_controller.dart
  pitik_connect/lib/ui/smartscale/smart_scale_done_summary.dart
  pitik_connect/lib/ui/smartscale/weighing_smart_scale/smart_scale_weighing.dart
  pitik_connect/lib/ui/smartscale/weighing_smart_scale/smart_scale_weighing_controller.dart
  pitik_connect/pubspec.lock
  pitik_connect/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

+ improvement build and tracking on ios
  pitik_connect/images/welcome_user.svg
  pitik_connect/ios/Podfile
  pitik_connect/ios/Runner.xcodeproj/project.pbxproj
  pitik_connect/ios/Runner.xcworkspace/contents.xcworkspacedata
  pitik_connect/ios/Runner/Base.lproj/Main.storyboard
  pitik_connect/lib/ui/beranda/beranda_controller.dart
  pitik_connect/lib/ui/profile/privacy_screen_controller.dart
  pitik_connect/lib/ui/splash/splash_activity.dart
Owners: @mahardhikuncoro15

fixing app setting for open bluetooth setting
  pitik_connect/lib/ui/smartscale/weighing_smart_scale/smart_scale_weighing_controller.dart
Owners: @mahardhikuncoro15

remove duplciate
  pitik_internal_app/lib/ui/home/beranda_activity/beranda_controller.dart
  pitik_internal_app/lib/widget/common/custom_appbar.dart
  pitik_internal_app/lib/widget/common/info_detail_header.dart
Owners: @anggasetiawanw

adding sonar
  pitik_internal_app/lib/ui/purchase_module/edit_data_purchase_activity/edit_data_purchase_controller.dart
  pitik_internal_app/pubspec.lock
Owners: @anggasetiawanw

adding sonar
  pitik_internal_app/sonar-project.properties
Owners: @anggasetiawanw

add keystore
  pitik_connect/android/app/pitikconnect-keystore.jks
  pitik_connect/android/key.properties
  pitik_connect/lib/firebase_options.dart
  pitik_connect/lib/main.dart
  pitik_connect/lib/main_dev.dart
  pitik_connect/lib/ui/login/login_controller.dart
  pitik_connect/pubspec.yaml
Owners: @mahardhikuncoro15

adding sonar
  pitik_internal_app/lib/main.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/main_dev.dart
  pitik_internal_app/lib/main_prod.dart
Owners: @anggasetiawanw

fixing bug smart scale
  pitik_connect/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  pitik_connect/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  pitik_connect/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  pitik_connect/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  pitik_connect/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  pitik_connect/ios/Runner.xcodeproj/project.pbxproj
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  pitik_connect/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  pitik_connect/lib/flavors.dart
  pitik_connect/lib/ui/dashboard_device/dashboard_device_controller.dart
  pitik_connect/lib/ui/smartscale/list_smart_scale/list_smart_scale_activity.dart
  pitik_connect/pubspec.yaml
Owners: @mahardhikuncoro15

adding ios internal app setting
  pitik_internal_app/ios/Podfile
  pitik_internal_app/ios/Podfile.lock
  pitik_internal_app/ios/Runner.xcodeproj/project.pbxproj
  pitik_internal_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  pitik_internal_app/ios/Runner.xcworkspace/contents.xcworkspacedata
  pitik_internal_app/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  pitik_internal_app/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  pitik_internal_app/ios/Runner/Info.plist
Owners: @anggasetiawanw

adding ios internal app setting
  pitik_internal_app/pubspec.lock
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

fix(pwd) - Change password failed
  model/lib/password_model.dart
  pitik_connect/lib/api_mapping/apis/api.dart
  pitik_connect/lib/main.dart
  pitik_connect/lib/main.reflectable.dart
  pitik_connect/lib/ui/profile/change_password/change_password_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(spinner) - with const can edit
  components/lib/spinner_field/spinner_field_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fixing bug smart scale
  components/lib/date_time_field/datetime_field.dart
  pitik_connect/lib/ui/smartscale/detail_smart_scale/detail_smart_scale_activity.dart
  pitik_connect/lib/ui/smartscale/list_smart_scale/list_smart_scale_activity.dart
  pitik_connect/lib/ui/smartscale/weighing_smart_scale/smart_scale_weighing.dart
  pitik_connect/lib/ui/smartscale/weighing_smart_scale/smart_scale_weighing_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

update version for staging
  pitik_connect/pubspec.yaml
Owners: @mahardhikuncoro15

fixing(PWD) - Back button system and regexp
  pitik_connect/lib/ui/profile/change_password/change_pass_activity.dart
  pitik_connect/lib/ui/profile/change_password/change_password_controller.dart
  pitik_connect/pubspec.yaml
Owners: @mahardhikuncoro15

Fix(SO) - Issue For LB Pesan Stock
  pitik_internal_app/lib/ui/manufacture_module/manufacture_detail_activity/manufacture_detail_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_controller.dart
  pitik_internal_app/lib/ui/terminate_module/terminate_detail_activity/terminate_detail_controller.dart
  pitik_internal_app/lib/ui/transfer_module/transfer_detail_activity/transfer_detail_controller.dart
  pitik_internal_app/lib/widget/sku_book_so/sku_book_so_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

fix(so) - LB
  global_variable/lib/strings.dart
  model/lib/internal_app/manufacture_output_model.dart
  pitik_connect/lib/main.reflectable.dart
  pitik_connect/lib/ui/smartscale/list_smart_scale/list_smart_scale_controller.dart
  pitik_connect/lib/ui/smartscale/weighing_smart_scale/smart_scale_weighing.dart
  pitik_connect/lib/ui/smartscale/weighing_smart_scale/smart_scale_weighing_controller.dart
  pitik_internal_app/lib/api_mapping/apis/api.dart
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_transer/delivery_confirm_transfer_activity.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_detail_SO/delivery_detail_SO_activity.dart
  pitik_internal_app/lib/ui/receive_module/detail_receive_purchase/detail_gr_purchase_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_controller.dart
  pitik_internal_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(so) - LB
  pitik_internal_app/pubspec.yaml
Owners: @anggasetiawanw

+ Bug fixing (https://pitik.atlassian.net/browse/AB-2383) + Fixing Crashlytics
  components/lib/scan_barcodeqr/barcode_scan_activity.dart
  components/lib/scan_barcodeqr/barcode_scan_controller.dart
  pitik_connect/lib/ui/beranda/beranda_controller.dart
  pitik_connect/lib/ui/register_device/register_device_activity.dart
  pitik_connect/lib/ui/register_device/register_device_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fear(spin)
  components/lib/spinner_field/spinner_field.dart
  components/lib/spinner_field/spinner_field_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fear(spin)
  components/lib/spinner_field/spinner_field.dart
  components/lib/spinner_field/spinner_field_controller.dart
  pitik_internal_app/Makefile
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

integrate Shorebird
  pitik_connect/Makefile
  pitik_connect/android/app/src/main/AndroidManifest.xml
  pitik_connect/pubspec.yaml
Owners: @mahardhikuncoro15

+ Fixing First character always replaced when typing mac address
  components/lib/edit_field_qr/edit_field_qrcode.dart
  pitik_connect/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

+ Fixing First character always replaced when typing mac address
  components/lib/edit_field_qr/edit_field_qrcode.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

feat(component) - FIX and Added shorebird
  components/lib/edit_field/edit_field.dart
  components/pubspec.yaml
  engine/lib/util/convert.dart
  pitik_internal_app/android/app/src/main/AndroidManifest.xml
  pitik_internal_app/lib/main.reflectable.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_so/delivery_confirm_so_controller.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_transer/delivery_confirm_transfer_controller.dart
  pitik_internal_app/lib/ui/sales_module/data_visit_activity/data_visit_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_book_stock/create_book_stock_controller.dart
  pitik_internal_app/lib/widget/bottom_sheet/true_data.dart
  pitik_internal_app/lib/widget/common/checkin_status_below_button.dart
  pitik_internal_app/lib/widget/common/info_detail_sku.dart
  pitik_internal_app/lib/widget/common/total_calculation.dart
  pitik_internal_app/pubspec.lock
  pitik_internal_app/pubspec.yaml
  pitik_internal_app/shorebird.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(customer) - Input quantity to double
  pitik_internal_app/Makefile
  pitik_internal_app/lib/ui/sales_module/new_data_activity/new_data_controller.dart
  pitik_internal_app/lib/widget/sku_card/sku_card_controller.dart
Owners: @anggasetiawanw

remove warning
  pitik_internal_app/lib/main.reflectable.dart
Owners: @anggasetiawanw

fix(customer) - add debouncer in search customer
  pitik_internal_app/lib/ui/sales_module/home_activity/home_activity.dart
Owners: @anggasetiawanw

resolve magic string
  components/lib/edit_field/edit_field.dart
  global_variable/lib/strings.dart
  pitik_internal_app/lib/ui/delivery_module/delivery_confirm_so/delivery_confirm_so_controller.dart
  pitik_internal_app/lib/ui/sales_order_module/new_sales_order/new_data_sales_order_controller.dart
  pitik_internal_app/lib/widget/sku_card/sku_card_controller.dart
  pitik_internal_app/lib/widget/sku_card_order/sku_card_order_controller.dart
  pitik_internal_app/lib/widget/sku_card_purchase/sku_card_purchase_controller.dart
  pitik_internal_app/lib/widget/sku_card_purchase_internal/sku_card_purchase_internal_controller.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

add api mapping
  pitik_ppl_app/lib/api_mapping/api_mapping.dart
  pitik_ppl_app/lib/api_mapping/apis/api.dart
  pitik_ppl_app/lib/api_mapping/apis/smart_scale_api.dart
  pitik_ppl_app/lib/api_mapping/apis/user_api.dart
  pitik_ppl_app/lib/main.dart
  pitik_ppl_app/lib/main_dev.dart
  pitik_ppl_app/lib/main_prod.dart
Owners: none

add menu on home page and monitor page
  common_page/lib/profile/profile_activity.dart
  common_page/lib/smart_monitor/detail_smartmonitor_activity.dart
  common_page/lib/smart_monitor/detail_smartmonitor_controller.dart
  model/lib/engine_library.dart
  model/lib/smart_scale/smart_scale_model.dart
  pitik_ppl_app/android/app/src/main/AndroidManifest.xml
  pitik_ppl_app/images/alert_red_icon.png
  pitik_ppl_app/images/card_lazy.gif
  pitik_ppl_app/images/empty_document_icon.svg
  pitik_ppl_app/images/harvest_icon.svg
  pitik_ppl_app/images/notes_icon.svg
  pitik_ppl_app/images/record_icon.svg
  pitik_ppl_app/images/report_check_icon.svg
  pitik_ppl_app/images/report_icon.svg
  pitik_ppl_app/images/smart_controller_icon.svg
  pitik_ppl_app/images/smart_scale_icon.svg
  pitik_ppl_app/images/transfer_icon.svg
  pitik_ppl_app/lib/api_mapping/apis/api.dart
  pitik_ppl_app/lib/api_mapping/apis/smart_monitoring_api.dart
  pitik_ppl_app/lib/main.reflectable.dart
  pitik_ppl_app/lib/route.dart
  pitik_ppl_app/lib/ui/coop/coop_activity.dart
  pitik_ppl_app/lib/ui/coop/coop_controller.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_activity.dart
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw

fix(gr) - GR PO Detail
  pitik_internal_app/lib/ui/receive_module/detail_receive_purchase/detail_gr_purchase_controller.dart
Owners: @anggasetiawanw

add menu on home page and monitor page
  common_page/.flutter-plugins-dependencies
  common_page/lib/history/harvest/harvest_activity.dart
  common_page/lib/history/harvest/harvest_controller.dart
  common_page/lib/history/history_activity.dart
  common_page/lib/history/history_controller.dart
  common_page/lib/history/performance/performance_activity.dart
  common_page/lib/history/performance/performance_controller.dart
  common_page/lib/history/sapronak/sapronak_activity.dart
  common_page/lib/history/sapronak/sapronak_controller.dart
  engine/lib/util/updater_code_magic.dart
  engine/pubspec.yaml
  pitik_ppl_app/lib/ui/coop_dashboard/coop_dashboard_controller.dart
  pitik_ppl_app/lib/ui/splash_screen.dart
  pitik_ppl_app/pubspec.yaml
Owners: @dicky512

add menu on home page and monitor page
  engine/lib/util/updater_code_magic.dart
  pitik_ppl_app/lib/ui/splash_screen.dart
Owners: @dicky512

fix(gr) - error detail transfer if received
  pitik_internal_app/lib/ui/receive_module/detail_receive_transfer/detail_gr_transfer_activity.dart
Owners: @anggasetiawanw

add table field and create harvest page
  common_page/lib/history/harvest/harvest_activity.dart
  common_page/lib/history/harvest/harvest_controller.dart
  common_page/lib/history/history_activity.dart
  common_page/lib/history/history_controller.dart
  common_page/lib/history/performance/performance_controller.dart
  components/lib/get_x_creator.dart
  components/lib/table_field/table_field.dart
  components/lib/table_field/table_field_controller.dart
  engine/lib/util/array_util.dart
Owners: @dicky512, @mahardhikuncoro15, @anggasetiawanw
